<!doctype html><p align=center><font size=+1 color=red></font></p>
<p align=center><font size=+1 color=red></font></p>
<html  {$html_attrs}>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {$pagetitle}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <base href="{$projectPath}">
    <link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
    {BEGIN rtlCSS}
      <link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
    {END rtlCSS}
    {BEGIN styleCSSFiles}
      <link REL="stylesheet" href="{$stylepath}" type="text/css">
    {END styleCSSFiles}
  </head>
  <BODY class="{$stylename} function-list" {$bodyattrs}>
    {BEGIN body}
      <style>
        {$containerCss}
      </style>
      <DIV class="r-vbar-page">
        <DIV data-width data-fixed class="r-left clearfix {$leftbar_class}">
          <div data-location="left" id="form_left_{$pageid}" data-makeup="leftbar" {$form_left} data-pageid="{$pageid}">
            {BEGIN left_block}
              <DIV data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell class="clearfix r-ori-vert" data-itemid="logo1" {$item_logo1}>
                {BEGIN logo_block}
                  <A data-itemtype="logo" data-itemid="logo1" {$item_logo1} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
                    {$logo}
                  </A>
                {END logo_block}
                <BUTTON data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">
                  <SPAN class="sr-only">
                    Toggle navigation
                  </span>
                  <SPAN class="icon-bar">
                  </span>
                </button>
              </div>
              <DIV class="clearfix r-ori-vert" data-cellId="left_c1" data-pageid="{$pageid}" data-itemid="search_panel" {$item_search_panel} data-topcell-item-type="search_panel">
                <!-- Begin Search panel content -->
                <DIV class="searchOptions panel panel-primary searchPanelContainer" {$srchOpt_attrs} data-itemtype="search_panel" data-itemid="search_panel" {$item_search_panel} data-pageid="{$pageid}">
                  <DIV class="panel-heading">
                    <DIV class="btn-group" id="addSearchFieldButton{$id}">
                      <BUTTON id="showHideControlChooseMenu{$id}" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Buscar em
                        <SPAN class="caret">
                        </span>
                      </button>
                    </div>
                    <DIV class="btn-group searchpanel-options" id="searchPanelOptions{$id}">
                      <BUTTON type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <SPAN class="glyphicon glyphicon glyphicon-option-vertical">
                        </span>
                      </button>
                      <UL class="dropdown-menu dropdown-left">
                        <li id="showHideSearchType{$id}" {$showHideCtrlsOpt_attrs}>
                          <a>
                            Mostrar opções
                          </a>
                        </li>
                        <LI role="separator" class="divider">
                        </li>
                        <LI class="srchCritTop" style="display: none;">
                          <a>
                            <input type="radio" name="srchType{$id}" id="radioAll" {$all_checkbox}>
                            <label for="radioAll">
                              <SPAN class="glyphicon">
                                &nbsp;
                              </span>
                              todas as condições
                            </label>
                          </a>
                        </li>
                        <LI class="srchCritTop" style="display: none;">
                          <a>
                            <input type="radio" name="srchType{$id}" id="radioAny" {$any_checkbox}>
                            <label for="radioAny">
                              <SPAN class="glyphicon">
                                &nbsp;
                              </span>
                              qualquer condição
                            </label>
                          </a>
                        </li>
                        <LI role="separator" class="divider">
                        </li>
                        <li>
                          <A class="close-button">
                            <SPAN class="glyphicon glyphicon-remove">
                              &nbsp;
                            </span>
                            ocultar
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <DIV class="panel-body controlsBlock" {$bottomSearchButt_attrs}>
                    {BEGIN searchCtrlBlock}
                      <DIV class="srchPanelRow form-group" {$filterRow_attrs}>
                        <label>
                          {$fLabel}
                        </label>
                        {$delCtrlButt}
                        <SPAN class="rnr-searchtype">
                          {$searchtype}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol1}
                        </span>
                      </div>
                    {END searchCtrlBlock}
                    {BEGIN searchCtrlBlock_rua}
                      <DIV class="form-group srchPanelRow {$filterRow_class_rua}" {$filterRow_attrs_rua}>
                        <label>
                          {$label adm_usuarios rua}
                        </label>
                        {$delCtrlButt}
                        <SPAN class="rnr-searchtype">
                          {$searchtype_rua}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol_rua}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol1_rua}
                        </span>
                      </div>
                    {END searchCtrlBlock_rua}
                    {BEGIN searchCtrlBlock_Confirma}
                      <DIV class="form-group srchPanelRow {$filterRow_class_Confirma}" {$filterRow_attrs_Confirma}>
                        <label>
                          {$label adm_usuarios Confirma}
                        </label>
                        {$delCtrlButt}
                        <SPAN class="rnr-searchtype">
                          {$searchtype_Confirma}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol_Confirma}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol1_Confirma}
                        </span>
                      </div>
                    {END searchCtrlBlock_Confirma}
                    {BEGIN searchCtrlBlock_idEmpresa}
                      <DIV class="form-group srchPanelRow {$filterRow_class_idEmpresa}" {$filterRow_attrs_idEmpresa}>
                        <label>
                          {$label adm_usuarios idEmpresa}
                        </label>
                        {$delCtrlButt}
                        <SPAN class="rnr-searchtype">
                          {$searchtype_idEmpresa}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol_idEmpresa}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol1_idEmpresa}
                        </span>
                      </div>
                    {END searchCtrlBlock_idEmpresa}
                    {BEGIN searchCtrlBlock_deletado}
                      <DIV class="form-group srchPanelRow {$filterRow_class_deletado}" {$filterRow_attrs_deletado}>
                        <label>
                          {$label adm_usuarios deletado}
                        </label>
                        {$delCtrlButt}
                        <SPAN class="rnr-searchtype">
                          {$searchtype_deletado}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol_deletado}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol1_deletado}
                        </span>
                      </div>
                    {END searchCtrlBlock_deletado}
                    {BEGIN searchCtrlBlock_code_trocar_senha}
                      <DIV class="form-group srchPanelRow {$filterRow_class_code_trocar_senha}" {$filterRow_attrs_code_trocar_senha}>
                        <label>
                          {$label adm_usuarios code_trocar_senha}
                        </label>
                        {$delCtrlButt}
                        <SPAN class="rnr-searchtype">
                          {$searchtype_code_trocar_senha}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol_code_trocar_senha}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol1_code_trocar_senha}
                        </span>
                      </div>
                    {END searchCtrlBlock_code_trocar_senha}
                    {BEGIN searchCtrlBlock_telefone_comercial}
                      <DIV class="form-group srchPanelRow {$filterRow_class_telefone_comercial}" {$filterRow_attrs_telefone_comercial}>
                        <label>
                          {$label adm_usuarios telefone_comercial}
                        </label>
                        {$delCtrlButt}
                        <SPAN class="rnr-searchtype">
                          {$searchtype_telefone_comercial}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol_telefone_comercial}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol1_telefone_comercial}
                        </span>
                      </div>
                    {END searchCtrlBlock_telefone_comercial}
                    {BEGIN searchCtrlBlock_telefone_residencial}
                      <DIV class="form-group srchPanelRow {$filterRow_class_telefone_residencial}" {$filterRow_attrs_telefone_residencial}>
                        <label>
                          {$label adm_usuarios telefone_residencial}
                        </label>
                        {$delCtrlButt}
                        <SPAN class="rnr-searchtype">
                          {$searchtype_telefone_residencial}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol_telefone_residencial}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol1_telefone_residencial}
                        </span>
                      </div>
                    {END searchCtrlBlock_telefone_residencial}
                    {BEGIN searchCtrlBlock_telefone_celular_secundario}
                      <DIV class="form-group srchPanelRow {$filterRow_class_telefone_celular_secundario}" {$filterRow_attrs_telefone_celular_secundario}>
                        <label>
                          {$label adm_usuarios telefone_celular_secundario}
                        </label>
                        {$delCtrlButt}
                        <SPAN class="rnr-searchtype">
                          {$searchtype_telefone_celular_secundario}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol_telefone_celular_secundario}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol1_telefone_celular_secundario}
                        </span>
                      </div>
                    {END searchCtrlBlock_telefone_celular_secundario}
                    {BEGIN searchCtrlBlock_telefone_celular_principal}
                      <DIV class="form-group srchPanelRow {$filterRow_class_telefone_celular_principal}" {$filterRow_attrs_telefone_celular_principal}>
                        <label>
                          {$label adm_usuarios telefone_celular_principal}
                        </label>
                        {$delCtrlButt}
                        <SPAN class="rnr-searchtype">
                          {$searchtype_telefone_celular_principal}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol_telefone_celular_principal}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol1_telefone_celular_principal}
                        </span>
                      </div>
                    {END searchCtrlBlock_telefone_celular_principal}
                    {BEGIN searchCtrlBlock_complemento}
                      <DIV class="form-group srchPanelRow {$filterRow_class_complemento}" {$filterRow_attrs_complemento}>
                        <label>
                          {$label adm_usuarios complemento}
                        </label>
                        {$delCtrlButt}
                        <SPAN class="rnr-searchtype">
                          {$searchtype_complemento}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol_complemento}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol1_complemento}
                        </span>
                      </div>
                    {END searchCtrlBlock_complemento}
                    {BEGIN searchCtrlBlock_numero}
                      <DIV class="form-group srchPanelRow {$filterRow_class_numero}" {$filterRow_attrs_numero}>
                        <label>
                          {$label adm_usuarios numero}
                        </label>
                        {$delCtrlButt}
                        <SPAN class="rnr-searchtype">
                          {$searchtype_numero}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol_numero}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol1_numero}
                        </span>
                      </div>
                    {END searchCtrlBlock_numero}
                    {BEGIN searchCtrlBlock_cep}
                      <DIV class="form-group srchPanelRow {$filterRow_class_cep}" {$filterRow_attrs_cep}>
                        <label>
                          {$label adm_usuarios cep}
                        </label>
                        {$delCtrlButt}
                        <SPAN class="rnr-searchtype">
                          {$searchtype_cep}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol_cep}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol1_cep}
                        </span>
                      </div>
                    {END searchCtrlBlock_cep}
                    {BEGIN searchCtrlBlock_info_inicial}
                      <DIV class="form-group srchPanelRow {$filterRow_class_info_inicial}" {$filterRow_attrs_info_inicial}>
                        <label>
                          {$label adm_usuarios info_inicial}
                        </label>
                        {$delCtrlButt}
                        <SPAN class="rnr-searchtype">
                          {$searchtype_info_inicial}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol_info_inicial}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol1_info_inicial}
                        </span>
                      </div>
                    {END searchCtrlBlock_info_inicial}
                    {BEGIN searchCtrlBlock_avatar}
                      <DIV class="form-group srchPanelRow {$filterRow_class_avatar}" {$filterRow_attrs_avatar}>
                        <label>
                          {$label adm_usuarios avatar}
                        </label>
                        {$delCtrlButt}
                        <SPAN class="rnr-searchtype">
                          {$searchtype_avatar}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol_avatar}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol1_avatar}
                        </span>
                      </div>
                    {END searchCtrlBlock_avatar}
                    {BEGIN searchCtrlBlock_cpf}
                      <DIV class="form-group srchPanelRow {$filterRow_class_cpf}" {$filterRow_attrs_cpf}>
                        <label>
                          {$label adm_usuarios cpf}
                        </label>
                        {$delCtrlButt}
                        <SPAN class="rnr-searchtype">
                          {$searchtype_cpf}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol_cpf}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol1_cpf}
                        </span>
                      </div>
                    {END searchCtrlBlock_cpf}
                    {BEGIN searchCtrlBlock_data_ultimo_acesso}
                      <DIV class="form-group srchPanelRow {$filterRow_class_data_ultimo_acesso}" {$filterRow_attrs_data_ultimo_acesso}>
                        <label>
                          {$label adm_usuarios data_ultimo_acesso}
                        </label>
                        {$delCtrlButt}
                        <SPAN class="rnr-searchtype">
                          {$searchtype_data_ultimo_acesso}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol_data_ultimo_acesso}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol1_data_ultimo_acesso}
                        </span>
                      </div>
                    {END searchCtrlBlock_data_ultimo_acesso}
                    {BEGIN searchCtrlBlock_data_primeiro_acesso}
                      <DIV class="form-group srchPanelRow {$filterRow_class_data_primeiro_acesso}" {$filterRow_attrs_data_primeiro_acesso}>
                        <label>
                          {$label adm_usuarios data_primeiro_acesso}
                        </label>
                        {$delCtrlButt}
                        <SPAN class="rnr-searchtype">
                          {$searchtype_data_primeiro_acesso}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol_data_primeiro_acesso}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol1_data_primeiro_acesso}
                        </span>
                      </div>
                    {END searchCtrlBlock_data_primeiro_acesso}
                    {BEGIN searchCtrlBlock_data_in}
                      <DIV class="form-group srchPanelRow {$filterRow_class_data_in}" {$filterRow_attrs_data_in}>
                        <label>
                          {$label adm_usuarios data_in}
                        </label>
                        {$delCtrlButt}
                        <SPAN class="rnr-searchtype">
                          {$searchtype_data_in}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol_data_in}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol1_data_in}
                        </span>
                      </div>
                    {END searchCtrlBlock_data_in}
                    {BEGIN searchCtrlBlock_plano_tipo}
                      <DIV class="form-group srchPanelRow {$filterRow_class_plano_tipo}" {$filterRow_attrs_plano_tipo}>
                        <label>
                          {$label adm_usuarios plano_tipo}
                        </label>
                        {$delCtrlButt}
                        <SPAN class="rnr-searchtype">
                          {$searchtype_plano_tipo}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol_plano_tipo}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol1_plano_tipo}
                        </span>
                      </div>
                    {END searchCtrlBlock_plano_tipo}
                    {BEGIN searchCtrlBlock_tipo_usuario}
                      <DIV class="form-group srchPanelRow {$filterRow_class_tipo_usuario}" {$filterRow_attrs_tipo_usuario}>
                        <label>
                          {$label adm_usuarios tipo_usuario}
                        </label>
                        {$delCtrlButt}
                        <SPAN class="rnr-searchtype">
                          {$searchtype_tipo_usuario}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol_tipo_usuario}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol1_tipo_usuario}
                        </span>
                      </div>
                    {END searchCtrlBlock_tipo_usuario}
                    {BEGIN searchCtrlBlock_permissao}
                      <DIV class="form-group srchPanelRow {$filterRow_class_permissao}" {$filterRow_attrs_permissao}>
                        <label>
                          {$label adm_usuarios permissao}
                        </label>
                        {$delCtrlButt}
                        <SPAN class="rnr-searchtype">
                          {$searchtype_permissao}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol_permissao}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol1_permissao}
                        </span>
                      </div>
                    {END searchCtrlBlock_permissao}
                    {BEGIN searchCtrlBlock_email_validado}
                      <DIV class="form-group srchPanelRow {$filterRow_class_email_validado}" {$filterRow_attrs_email_validado}>
                        <label>
                          {$label adm_usuarios email_validado}
                        </label>
                        {$delCtrlButt}
                        <SPAN class="rnr-searchtype">
                          {$searchtype_email_validado}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol_email_validado}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol1_email_validado}
                        </span>
                      </div>
                    {END searchCtrlBlock_email_validado}
                    {BEGIN searchCtrlBlock_senha}
                      <DIV class="form-group srchPanelRow {$filterRow_class_senha}" {$filterRow_attrs_senha}>
                        <label>
                          {$label adm_usuarios senha}
                        </label>
                        {$delCtrlButt}
                        <SPAN class="rnr-searchtype">
                          {$searchtype_senha}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol_senha}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol1_senha}
                        </span>
                      </div>
                    {END searchCtrlBlock_senha}
                    {BEGIN searchCtrlBlock_sobrenome}
                      <DIV class="form-group srchPanelRow {$filterRow_class_sobrenome}" {$filterRow_attrs_sobrenome}>
                        <label>
                          {$label adm_usuarios sobrenome}
                        </label>
                        {$delCtrlButt}
                        <SPAN class="rnr-searchtype">
                          {$searchtype_sobrenome}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol_sobrenome}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol1_sobrenome}
                        </span>
                      </div>
                    {END searchCtrlBlock_sobrenome}
                    {BEGIN searchCtrlBlock_usu_id}
                      <DIV class="form-group srchPanelRow {$filterRow_class_usu_id}" {$filterRow_attrs_usu_id}>
                        <label>
                          {$label adm_usuarios usu_id}
                        </label>
                        {$delCtrlButt}
                        <SPAN class="rnr-searchtype">
                          {$searchtype_usu_id}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol_usu_id}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol1_usu_id}
                        </span>
                      </div>
                    {END searchCtrlBlock_usu_id}
                    {BEGIN searchCtrlBlock_municipio}
                      <DIV class="form-group srchPanelRow {$filterRow_class_municipio}" {$filterRow_attrs_municipio}>
                        <label>
                          {$label adm_usuarios municipio}
                        </label>
                        {$delCtrlButt}
                        <SPAN class="rnr-searchtype">
                          {$searchtype_municipio}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol_municipio}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol1_municipio}
                        </span>
                      </div>
                    {END searchCtrlBlock_municipio}
                    {BEGIN searchCtrlBlock_estado}
                      <DIV class="form-group srchPanelRow {$filterRow_class_estado}" {$filterRow_attrs_estado}>
                        <label>
                          {$label adm_usuarios estado}
                        </label>
                        {$delCtrlButt}
                        <SPAN class="rnr-searchtype">
                          {$searchtype_estado}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol_estado}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol1_estado}
                        </span>
                      </div>
                    {END searchCtrlBlock_estado}
                    {BEGIN searchCtrlBlock_pais}
                      <DIV class="form-group srchPanelRow {$filterRow_class_pais}" {$filterRow_attrs_pais}>
                        <label>
                          {$label adm_usuarios pais}
                        </label>
                        {$delCtrlButt}
                        <SPAN class="rnr-searchtype">
                          {$searchtype_pais}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol_pais}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol1_pais}
                        </span>
                      </div>
                    {END searchCtrlBlock_pais}
                    {BEGIN searchCtrlBlock_sexo}
                      <DIV class="form-group srchPanelRow {$filterRow_class_sexo}" {$filterRow_attrs_sexo}>
                        <label>
                          {$label adm_usuarios sexo}
                        </label>
                        {$delCtrlButt}
                        <SPAN class="rnr-searchtype">
                          {$searchtype_sexo}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol_sexo}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol1_sexo}
                        </span>
                      </div>
                    {END searchCtrlBlock_sexo}
                    {BEGIN searchCtrlBlock_email}
                      <DIV class="form-group srchPanelRow {$filterRow_class_email}" {$filterRow_attrs_email}>
                        <label>
                          {$label adm_usuarios email}
                        </label>
                        {$delCtrlButt}
                        <SPAN class="rnr-searchtype">
                          {$searchtype_email}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol_email}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol1_email}
                        </span>
                      </div>
                    {END searchCtrlBlock_email}
                    {BEGIN searchCtrlBlock_nome}
                      <DIV class="form-group srchPanelRow {$filterRow_class_nome}" {$filterRow_attrs_nome}>
                        <label>
                          {$label adm_usuarios nome}
                        </label>
                        {$delCtrlButt}
                        <SPAN class="rnr-searchtype">
                          {$searchtype_nome}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol_nome}
                        </span>
                        <SPAN class="rnr-searchcontrol">
                          {$searchcontrol1_nome}
                        </span>
                      </div>
                    {END searchCtrlBlock_nome}
                  </div>
                  <DIV class="panel-footer bottomSearchButt" {$bottomSearchButt_attrs}>
                    <BUTTON class="btn btn-primary" id="searchButton{$id}" {$searchbutton_attrs}>
                      Buscar
                    </button>
                    <BUTTON class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs}>
                      Mostrar Todos
                    </button>
                  </div>
                </div>
                <!-- End Search panel content -->
              </div>
            {END left_block}
          </div>
        </div>
        <DIV class="r-content-col" data-resize-left="leftbar">
          <DIV class="r-topheader" data-resize-name="topbar">
            {BEGIN supertop_block}
              <NAV class="navbar navbar-default" data-location="supertop" id="form_supertop_{$pageid}" data-makeup="leftbar" {$form_supertop} data-pageid="{$pageid}">
                <SPAN class="navbar-form navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="collapse_button" {$item_collapse_button} data-topcell-item-type="collapse_button">
                  <span data-itemtype="collapse_button" data-itemid="collapse_button" {$item_collapse_button} data-pageid="{$pageid}" data-small data-button-item>
                    <A type="button" title="Collapse" class="btn-link glyphicon glyphicon-triangle-left" href="#">
                    </a>
                  </span>
                </span>
                <SPAN class="navbar-form navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="text" {$item_text} data-topcell-item-type="text">
                  <SPAN data-itemtype="text" data-itemid="text" {$item_text} data-pageid="{$pageid}" class="btn btn-primary" data-page="adm_usuarios1_list" data-small>
                    Meu Cadastro
                  </span>
                </span>
                <SPAN class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login">
                  {BEGIN guestloginbutton}
                    <span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
                      <A type="button" title class="btn btn-primary" href="#" {$guestloginlink_attrs}>
                        Login
                      </a>
                    </span>
                  {END guestloginbutton}
                </span>
                <SPAN class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button">
                  {BEGIN loggedas_message}
                    <span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
                      <SPAN class="dropdown">
                        <BUTTON type="button" title class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <SPAN class="glyphicon glyphicon-user">
                          </span>
                          {$username}
                          <SPAN class="caret">
                          </span>
                        </button>
                        <UL class="dropdown-menu">
                          {BEGIN logoutbutton}
                            <li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
                              <a  href="#" {$logoutlink_attrs}  title="" >
                                Log Out
                              </a>
                            </li>
                          {END logoutbutton}
                          {BEGIN changepwd_link}
                            <li data-itemtype="changepassword_link" data-itemid="changepassword_link" {$item_changepassword_link} data-pageid="{$pageid}" data-small >
                              <a  href="#" {$changepwdlink_attrs}  title="" >
                                Mudar senha
                              </a>
                            </li>
                          {END changepwd_link}
                        </ul>
                      </span>
                    </span>
                  {END loggedas_message}
                </span>
              </nav>
            {END supertop_block}
            {$locking}
          </div>
          <DIV class="r-body" data-resize-top="topbar" data-body-width="standard">
            {$header}
            <DIV class="r-top">
              {BEGIN top_block}
                <DIV class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="leftbar" {$form_top} data-pageid="{$pageid}">
                </div>
              {END top_block}
            </div>
            <DIV class="r-above">
              {BEGIN above-grid_block}
                <DIV class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="leftbar" {$form_above-grid} data-pageid="{$pageid}">
                  <DIV class="row">
                    <DIV data-cellId="above-grid_c" data-pageid="{$pageid}" {$cell_above-grid_c} class="r-ori-vert col-md-12">
                      {BEGIN firstAboveGridCell}
                      {END firstAboveGridCell}
                    </div>
                  </div>
                  <DIV class="row">
                    <DIV data-cellId="above-grid_c1" data-pageid="{$pageid}" {$cell_above-grid_c1} class="r-ori-vert col-md-6">
                    </div>
                    <DIV data-cellId="above-grid_c2" data-pageid="{$pageid}" {$cell_above-grid_c2} class="r-align-right r-ori-vert col-md-6">
                      {BEGIN print_friendly}
                        <span id="printpanelblock{$id}"  data-pageid="{$pageid}" {$printpanel_hiddenattr} data-itemtype="print_panel" data-itemid="print_panel" {$item_print_panel} data-pageid="{$pageid}">
                          <BUTTON title="Página Print-friendly" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <SPAN class="glyphicon glyphicon-print">
                            </span>
                            <SPAN class="caret">
                            </span>
                          </button>
                          <UL class="dropdown-menu pull-right">
                          </ul>
                        </span>
                      {END print_friendly}
                    </div>
                  </div>
                  <DIV class="row">
                    <DIV data-cellId="above-grid_c3" data-pageid="{$pageid}" {$cell_above-grid_c3} class="r-ori-vert col-md-6">
                    </div>
                    <DIV data-cellId="above-grid_c4" data-pageid="{$pageid}" {$cell_above-grid_c4} class="r-align-right r-ori-vert col-md-6">
                    </div>
                  </div>
                </div>
              {END above-grid_block}
            </div>
            <DIV class="r-grid">
              {BEGIN grid_tabs}
                <UL class="nav nav-tabs bsgrid_tabs">
                  {$grid_tabs_content}
                </ul>
              {END grid_tabs}
              {BEGIN message_block}
                <DIV data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>
                  {$message}
                </div>
              {END message_block}
              {BEGIN grid_block}
                <DIV data-vcolumns=1 class="r-fluid r-grid-vertical bs-grid-vertical" data-location="grid" id="form_grid_{$pageid}" data-makeup="leftbar" {$form_grid} data-pageid="{$pageid}">
                  {BEGIN grid_row}
                    {BEGIN grid_record}
                      {BEGIN grid_vrecord}
                        <DIV class="r-record-body {$rowclass}" {$rowattrs} {$rowstyle}>
                          <DIV class="panel panel-default" {$recordattrs}>
                            {BEGIN grid_recordheader}
                              <DIV class="panel-heading">
                                <TABLE data-width="1" class="header-table">
                                  <tr>
                                    <TD class="r-ori-vert" data-cellId="grid_cell_top" data-pageid="{$pageid}" data-record-id="{$recId}">
                                      {BEGIN edit_column}
                                        {BEGIN edit_link}
                                          <span data-itemtype="grid_edit" data-itemid="grid_edit" {$item_grid_edit} data-pageid="{$pageid}" data-record-id="{$recId}" data-small data-button-item>
                                            <A type="button" title="Completar meu Cadastro"  class="btn btn-primary" href="adm_usuarios1_edit.php?{$editlink}" {$editlink_attrs} title="Editar" data-popup>
                                              Meus Cadastro
                                            </a>
                                          </span>
                                        {END edit_link}
                                      {END edit_column}
                                    </td>
                                  </tr>
                                </table>
                              </div>
                            {END grid_recordheader}
                            <DIV class="panel-body">
                              <table data-width="1" >
                                <tr>
                                  <TD class="r-ori-vert {$avatar_class}" data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}">
                                    {BEGIN avatar_fieldcolumn}
                                      <span data-itemtype="grid_field" data-itemid="simple_grid_field13" {$item_simple_grid_field13} data-pageid="{$pageid}" data-page="adm_usuarios1_list" data-record-id="{$recId}" data-field="avatar" data-default-width >
                                        {$avatar_value}
                                      </span>
                                    {END avatar_fieldcolumn}
                                  </td>
                                </tr>
                                <tr>
                                  <TD class="r-ori-vert {$nome_class}" data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}">
                                    {BEGIN nome_fieldcolumn}
                                      <span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="nome" data-default-width >
                                        {$nome_value}
                                      </span>
                                    {END nome_fieldcolumn}
                                  </td>
                                </tr>
                                <tr>
                                  <TD class="{$email_class}" data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}">
                                    {BEGIN email_fieldcolumn}
                                      <span data-itemtype="grid_field" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="email" data-default-width >
                                        {$email_value}
                                      </span>
                                    {END email_fieldcolumn}
                                    {BEGIN adm_usuarios_dados_profissionais1_dtable_link}
                                      <span data-itemtype="grid_details_link" data-itemid="grid_details_link6" {$item_grid_details_link6} data-pageid="{$pageid}" data-record-id="{$recId}">
                                        <A {$adm_usuarios_dados_profissionais1_link_attrs} class="btn btn-primary" data-short-details="adm_usuarios_dados_profissionais1">
                                          Dados Profissionais
                                        </a>
                                      </span>
                                    {END adm_usuarios_dados_profissionais1_dtable_link}
                                    {BEGIN adm_meuplano1_dtable_link}
                                      <span data-itemtype="grid_details_link" data-itemid="grid_details_link" {$item_grid_details_link} data-pageid="{$pageid}" data-record-id="{$recId}">
                                        <A {$adm_meuplano1_link_attrs} data-short-details="adm_meuplano1" class="btn btn-primary">
                                          Meu Plano
                                        </a>
                                      </span>
                                    {END adm_meuplano1_dtable_link}
                                  </td>
                                </tr>
                              </table>
                            </div>
                          </div>
                        </div>
                        <div data-itemtype="details_preview" data-itemid="details_preview2" {$item_details_preview2} data-pageid="{$pageid}" data-record-id="{$recId}" 
	data-orders=""
			data-details-	>
                          <span data-details-inside data-short-table="">
                          </span>
                          <div data-details-preview>
                          </div>
                        </div>
                      {END grid_vrecord}
                    {END grid_record}
                  {END grid_row}
                </div>
              {END grid_block}
            </div>
            <DIV class="r-below">
              {BEGIN below-grid_block}
                <DIV class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="leftbar" {$form_below-grid} data-pageid="{$pageid}">
                  <DIV class="row">
                    <DIV data-cellId="below-grid_c1" data-pageid="{$pageid}" {$cell_below-grid_c1} class="r-align-center r-ori-vert col-md-12">
                      {BEGIN pagination_block}
                        <span data-itemtype="pagination" data-itemid="pagination" {$item_pagination} data-pageid="{$pageid}" >
                          {$pagination}
                        </span>
                      {END pagination_block}
                    </div>
                  </div>
                </div>
              {END below-grid_block}
            </div>
            {$footer}
          </div>
        </div>
      </div>
    {END body}
  </body>
</html>
