<!doctype html><p align=center><font size=+1 color=red></font></p>
<p align=center><font size=+1 color=red></font></p>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel tratamento search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN idTratamento_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_idTratamento}  r-horizontal-field form-horizontal" 
	
		data-fieldname="idTratamento" 
	
	data-signal-error-for="idTratamento{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="idTratamento" >


	<label class="r-search-label control-label" for="{$labelfor_idTratamento}">
		{$label tratamento idTratamento }	</label>
	<div class="r-search-option">
		{$searchtype_idTratamento}
	</div>
	<div class="r-search-field">
		{$idTratamento_editcontrol}	</div>
	<div class="r-search-field">
		{$idTratamento_editcontrol1}
	</div>
	
</div>

{END idTratamento_fieldblock}
											
{BEGIN idPaciente_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_idPaciente}  r-horizontal-field form-horizontal" 
	
		data-fieldname="idPaciente" 
	
	data-signal-error-for="idPaciente{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="idPaciente" >


	<label class="r-search-label control-label" for="{$labelfor_idPaciente}">
		{$label tratamento idPaciente }	</label>
	<div class="r-search-option">
		{$searchtype_idPaciente}
	</div>
	<div class="r-search-field">
		{$idPaciente_editcontrol}	</div>
	<div class="r-search-field">
		{$idPaciente_editcontrol1}
	</div>
	
</div>

{END idPaciente_fieldblock}
											
{BEGIN idProfissional_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_idProfissional}  r-horizontal-field form-horizontal" 
	
		data-fieldname="idProfissional" 
	
	data-signal-error-for="idProfissional{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="idProfissional" >


	<label class="r-search-label control-label" for="{$labelfor_idProfissional}">
		{$label tratamento idProfissional }	</label>
	<div class="r-search-option">
		{$searchtype_idProfissional}
	</div>
	<div class="r-search-field">
		{$idProfissional_editcontrol}	</div>
	<div class="r-search-field">
		{$idProfissional_editcontrol1}
	</div>
	
</div>

{END idProfissional_fieldblock}
											
{BEGIN Data_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Data}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Data" 
	
	data-signal-error-for="Data{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="Data" >


	<label class="r-search-label control-label" for="{$labelfor_Data}">
		{$label tratamento Data }	</label>
	<div class="r-search-option">
		{$searchtype_Data}
	</div>
	<div class="r-search-field">
		{$Data_editcontrol}	</div>
	<div class="r-search-field">
		{$Data_editcontrol1}
	</div>
	
</div>

{END Data_fieldblock}
											
{BEGIN Confirmado_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Confirmado}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Confirmado" 
	
	data-signal-error-for="Confirmado{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="Confirmado" >


	<label class="r-search-label control-label" for="{$labelfor_Confirmado}">
		{$label tratamento Confirmado }	</label>
	<div class="r-search-option">
		{$searchtype_Confirmado}
	</div>
	<div class="r-search-field">
		{$Confirmado_editcontrol}	</div>
	<div class="r-search-field">
		{$Confirmado_editcontrol1}
	</div>
	
</div>

{END Confirmado_fieldblock}
											
{BEGIN Pago_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Pago}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Pago" 
	
	data-signal-error-for="Pago{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="Pago" >


	<label class="r-search-label control-label" for="{$labelfor_Pago}">
		{$label tratamento Pago }	</label>
	<div class="r-search-option">
		{$searchtype_Pago}
	</div>
	<div class="r-search-field">
		{$Pago_editcontrol}	</div>
	<div class="r-search-field">
		{$Pago_editcontrol1}
	</div>
	
</div>

{END Pago_fieldblock}
											
{BEGIN Forma_Pagamento_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Forma_Pagamento}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Forma_Pagamento" 
	
	data-signal-error-for="Forma_Pagamento{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="Forma_Pagamento" >


	<label class="r-search-label control-label" for="{$labelfor_Forma_Pagamento}">
		{$label tratamento Forma_Pagamento }	</label>
	<div class="r-search-option">
		{$searchtype_Forma_Pagamento}
	</div>
	<div class="r-search-field">
		{$Forma_Pagamento_editcontrol}	</div>
	<div class="r-search-field">
		{$Forma_Pagamento_editcontrol1}
	</div>
	
</div>

{END Forma_Pagamento_fieldblock}
											
{BEGIN Observacoes_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Observacoes}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Observacoes" 
	
	data-signal-error-for="Observacoes{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="Observacoes" >


	<label class="r-search-label control-label" for="{$labelfor_Observacoes}">
		{$label tratamento Observacoes }	</label>
	<div class="r-search-option">
		{$searchtype_Observacoes}
	</div>
	<div class="r-search-field">
		{$Observacoes_editcontrol}	</div>
	<div class="r-search-field">
		{$Observacoes_editcontrol1}
	</div>
	
</div>

{END Observacoes_fieldblock}
											
{BEGIN Prescricao_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Prescricao}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Prescricao" 
	
	data-signal-error-for="Prescricao{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="Prescricao" >


	<label class="r-search-label control-label" for="{$labelfor_Prescricao}">
		{$label tratamento Prescricao }	</label>
	<div class="r-search-option">
		{$searchtype_Prescricao}
	</div>
	<div class="r-search-field">
		{$Prescricao_editcontrol}	</div>
	<div class="r-search-field">
		{$Prescricao_editcontrol1}
	</div>
	
</div>

{END Prescricao_fieldblock}
											
{BEGIN Online_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Online}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Online" 
	
	data-signal-error-for="Online{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="Online" >


	<label class="r-search-label control-label" for="{$labelfor_Online}">
		{$label tratamento Online }	</label>
	<div class="r-search-option">
		{$searchtype_Online}
	</div>
	<div class="r-search-field">
		{$Online_editcontrol}	</div>
	<div class="r-search-field">
		{$Online_editcontrol1}
	</div>
	
</div>

{END Online_fieldblock}
											
{BEGIN Link_Consulta_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Link_Consulta}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Link Consulta" 
	
	data-signal-error-for="Link_Consulta{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="Link_Consulta" >


	<label class="r-search-label control-label" for="{$labelfor_Link_Consulta}">
		{$label tratamento Link_Consulta }	</label>
	<div class="r-search-option">
		{$searchtype_Link_Consulta}
	</div>
	<div class="r-search-field">
		{$Link_Consulta_editcontrol}	</div>
	<div class="r-search-field">
		{$Link_Consulta_editcontrol1}
	</div>
	
</div>

{END Link_Consulta_fieldblock}
											
{BEGIN Hora_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Hora}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Hora" 
	
	data-signal-error-for="Hora{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="Hora" >


	<label class="r-search-label control-label" for="{$labelfor_Hora}">
		{$label tratamento Hora }	</label>
	<div class="r-search-option">
		{$searchtype_Hora}
	</div>
	<div class="r-search-field">
		{$Hora_editcontrol}	</div>
	<div class="r-search-field">
		{$Hora_editcontrol1}
	</div>
	
</div>

{END Hora_fieldblock}
											
{BEGIN Valor_Consulta_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Valor_Consulta}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Valor_Consulta" 
	
	data-signal-error-for="Valor_Consulta{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="Valor_Consulta" >


	<label class="r-search-label control-label" for="{$labelfor_Valor_Consulta}">
		{$label tratamento Valor_Consulta }	</label>
	<div class="r-search-option">
		{$searchtype_Valor_Consulta}
	</div>
	<div class="r-search-field">
		{$Valor_Consulta_editcontrol}	</div>
	<div class="r-search-field">
		{$Valor_Consulta_editcontrol1}
	</div>
	
</div>

{END Valor_Consulta_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Limpar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Voltar à Lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancela			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
