[data-cellid="grid_footcell_field"][data-page="usuarios_masterprint"][data-cellid="grid_footcell_field"][data-page="usuarios_masterprint"][data-cellid="grid_footcell_field"][data-page="usuarios_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="usuarios_masterprint"][data-cellid="grid_footcell_field1"][data-page="usuarios_masterprint"][data-cellid="grid_footcell_field1"][data-page="usuarios_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="usuarios_masterprint"][data-cellid="grid_footcell_field2"][data-page="usuarios_masterprint"][data-cellid="grid_footcell_field2"][data-page="usuarios_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="usuarios_masterprint"][data-cellid="grid_footcell_field3"][data-page="usuarios_masterprint"][data-cellid="grid_footcell_field3"][data-page="usuarios_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="usuarios_masterprint"][data-cellid="grid_footcell_field4"][data-page="usuarios_masterprint"][data-cellid="grid_footcell_field4"][data-page="usuarios_masterprint"] {
  white-space: nowrap;
}


