<!doctype html><p align=center><font size=+1 color=red></font></p>
<p align=center><font size=+1 color=red></font></p>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel usuarios search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN usu_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_usu_id}  r-horizontal-field form-horizontal" 
	
		data-fieldname="usu_id" 
	
	data-signal-error-for="usu_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="usu_id" >


	<label class="r-search-label control-label" for="{$labelfor_usu_id}">
		{$label usuarios usu_id }	</label>
	<div class="r-search-option">
		{$searchtype_usu_id}
	</div>
	<div class="r-search-field">
		{$usu_id_editcontrol}	</div>
	<div class="r-search-field">
		{$usu_id_editcontrol1}
	</div>
	
</div>

{END usu_id_fieldblock}
											
{BEGIN nome_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nome}  r-horizontal-field form-horizontal" 
	
		data-fieldname="nome" 
	
	data-signal-error-for="nome{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="nome" >


	<label class="r-search-label control-label" for="{$labelfor_nome}">
		{$label usuarios nome }	</label>
	<div class="r-search-option">
		{$searchtype_nome}
	</div>
	<div class="r-search-field">
		{$nome_editcontrol}	</div>
	<div class="r-search-field">
		{$nome_editcontrol1}
	</div>
	
</div>

{END nome_fieldblock}
											
{BEGIN sobrenome_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sobrenome}  r-horizontal-field form-horizontal" 
	
		data-fieldname="sobrenome" 
	
	data-signal-error-for="sobrenome{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="sobrenome" >


	<label class="r-search-label control-label" for="{$labelfor_sobrenome}">
		{$label usuarios sobrenome }	</label>
	<div class="r-search-option">
		{$searchtype_sobrenome}
	</div>
	<div class="r-search-field">
		{$sobrenome_editcontrol}	</div>
	<div class="r-search-field">
		{$sobrenome_editcontrol1}
	</div>
	
</div>

{END sobrenome_fieldblock}
											
{BEGIN senha_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_senha}  r-horizontal-field form-horizontal" 
	
		data-fieldname="senha" 
	
	data-signal-error-for="senha{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="senha" >


	<label class="r-search-label control-label" for="{$labelfor_senha}">
		{$label usuarios senha }	</label>
	<div class="r-search-option">
		{$searchtype_senha}
	</div>
	<div class="r-search-field">
		{$senha_editcontrol}	</div>
	<div class="r-search-field">
		{$senha_editcontrol1}
	</div>
	
</div>

{END senha_fieldblock}
											
{BEGIN email_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_email}  r-horizontal-field form-horizontal" 
	
		data-fieldname="email" 
	
	data-signal-error-for="email{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="email" >


	<label class="r-search-label control-label" for="{$labelfor_email}">
		{$label usuarios email }	</label>
	<div class="r-search-option">
		{$searchtype_email}
	</div>
	<div class="r-search-field">
		{$email_editcontrol}	</div>
	<div class="r-search-field">
		{$email_editcontrol1}
	</div>
	
</div>

{END email_fieldblock}
											
{BEGIN email_validado_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_email_validado}  r-horizontal-field form-horizontal" 
	
		data-fieldname="email_validado" 
	
	data-signal-error-for="email_validado{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="email_validado" >


	<label class="r-search-label control-label" for="{$labelfor_email_validado}">
		{$label usuarios email_validado }	</label>
	<div class="r-search-option">
		{$searchtype_email_validado}
	</div>
	<div class="r-search-field">
		{$email_validado_editcontrol}	</div>
	<div class="r-search-field">
		{$email_validado_editcontrol1}
	</div>
	
</div>

{END email_validado_fieldblock}
											
{BEGIN permissao_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_permissao}  r-horizontal-field form-horizontal" 
	
		data-fieldname="permissao" 
	
	data-signal-error-for="permissao{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="permissao" >


	<label class="r-search-label control-label" for="{$labelfor_permissao}">
		{$label usuarios permissao }	</label>
	<div class="r-search-option">
		{$searchtype_permissao}
	</div>
	<div class="r-search-field">
		{$permissao_editcontrol}	</div>
	<div class="r-search-field">
		{$permissao_editcontrol1}
	</div>
	
</div>

{END permissao_fieldblock}
											
{BEGIN tipo_usuario_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tipo_usuario}  r-horizontal-field form-horizontal" 
	
		data-fieldname="tipo_usuario" 
	
	data-signal-error-for="tipo_usuario{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="tipo_usuario" >


	<label class="r-search-label control-label" for="{$labelfor_tipo_usuario}">
		{$label usuarios tipo_usuario }	</label>
	<div class="r-search-option">
		{$searchtype_tipo_usuario}
	</div>
	<div class="r-search-field">
		{$tipo_usuario_editcontrol}	</div>
	<div class="r-search-field">
		{$tipo_usuario_editcontrol1}
	</div>
	
</div>

{END tipo_usuario_fieldblock}
											
{BEGIN plano_tipo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_plano_tipo}  r-horizontal-field form-horizontal" 
	
		data-fieldname="plano_tipo" 
	
	data-signal-error-for="plano_tipo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="plano_tipo" >


	<label class="r-search-label control-label" for="{$labelfor_plano_tipo}">
		{$label usuarios plano_tipo }	</label>
	<div class="r-search-option">
		{$searchtype_plano_tipo}
	</div>
	<div class="r-search-field">
		{$plano_tipo_editcontrol}	</div>
	<div class="r-search-field">
		{$plano_tipo_editcontrol1}
	</div>
	
</div>

{END plano_tipo_fieldblock}
											
{BEGIN data_in_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_data_in}  r-horizontal-field form-horizontal" 
	
		data-fieldname="data_in" 
	
	data-signal-error-for="data_in{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="data_in" >


	<label class="r-search-label control-label" for="{$labelfor_data_in}">
		{$label usuarios data_in }	</label>
	<div class="r-search-option">
		{$searchtype_data_in}
	</div>
	<div class="r-search-field">
		{$data_in_editcontrol}	</div>
	<div class="r-search-field">
		{$data_in_editcontrol1}
	</div>
	
</div>

{END data_in_fieldblock}
											
{BEGIN data_primeiro_acesso_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_data_primeiro_acesso}  r-horizontal-field form-horizontal" 
	
		data-fieldname="data_primeiro_acesso" 
	
	data-signal-error-for="data_primeiro_acesso{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="data_primeiro_acesso" >


	<label class="r-search-label control-label" for="{$labelfor_data_primeiro_acesso}">
		{$label usuarios data_primeiro_acesso }	</label>
	<div class="r-search-option">
		{$searchtype_data_primeiro_acesso}
	</div>
	<div class="r-search-field">
		{$data_primeiro_acesso_editcontrol}	</div>
	<div class="r-search-field">
		{$data_primeiro_acesso_editcontrol1}
	</div>
	
</div>

{END data_primeiro_acesso_fieldblock}
											
{BEGIN data_ultimo_acesso_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_data_ultimo_acesso}  r-horizontal-field form-horizontal" 
	
		data-fieldname="data_ultimo_acesso" 
	
	data-signal-error-for="data_ultimo_acesso{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="data_ultimo_acesso" >


	<label class="r-search-label control-label" for="{$labelfor_data_ultimo_acesso}">
		{$label usuarios data_ultimo_acesso }	</label>
	<div class="r-search-option">
		{$searchtype_data_ultimo_acesso}
	</div>
	<div class="r-search-field">
		{$data_ultimo_acesso_editcontrol}	</div>
	<div class="r-search-field">
		{$data_ultimo_acesso_editcontrol1}
	</div>
	
</div>

{END data_ultimo_acesso_fieldblock}
											
{BEGIN cpf_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cpf}  r-horizontal-field form-horizontal" 
	
		data-fieldname="cpf" 
	
	data-signal-error-for="cpf{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="cpf" >


	<label class="r-search-label control-label" for="{$labelfor_cpf}">
		{$label usuarios cpf }	</label>
	<div class="r-search-option">
		{$searchtype_cpf}
	</div>
	<div class="r-search-field">
		{$cpf_editcontrol}	</div>
	<div class="r-search-field">
		{$cpf_editcontrol1}
	</div>
	
</div>

{END cpf_fieldblock}
											
{BEGIN avatar_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_avatar}  r-horizontal-field form-horizontal" 
	
		data-fieldname="avatar" 
	
	data-signal-error-for="avatar{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="avatar" >


	<label class="r-search-label control-label" for="{$labelfor_avatar}">
		{$label usuarios avatar }	</label>
	<div class="r-search-option">
		{$searchtype_avatar}
	</div>
	<div class="r-search-field">
		{$avatar_editcontrol}	</div>
	<div class="r-search-field">
		{$avatar_editcontrol1}
	</div>
	
</div>

{END avatar_fieldblock}
											
{BEGIN sexo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sexo}  r-horizontal-field form-horizontal" 
	
		data-fieldname="sexo" 
	
	data-signal-error-for="sexo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="sexo" >


	<label class="r-search-label control-label" for="{$labelfor_sexo}">
		{$label usuarios sexo }	</label>
	<div class="r-search-option">
		{$searchtype_sexo}
	</div>
	<div class="r-search-field">
		{$sexo_editcontrol}	</div>
	<div class="r-search-field">
		{$sexo_editcontrol1}
	</div>
	
</div>

{END sexo_fieldblock}
											
{BEGIN info_inicial_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_info_inicial}  r-horizontal-field form-horizontal" 
	
		data-fieldname="info_inicial" 
	
	data-signal-error-for="info_inicial{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="info_inicial" >


	<label class="r-search-label control-label" for="{$labelfor_info_inicial}">
		{$label usuarios info_inicial }	</label>
	<div class="r-search-option">
		{$searchtype_info_inicial}
	</div>
	<div class="r-search-field">
		{$info_inicial_editcontrol}	</div>
	<div class="r-search-field">
		{$info_inicial_editcontrol1}
	</div>
	
</div>

{END info_inicial_fieldblock}
											
{BEGIN pais_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_pais}  r-horizontal-field form-horizontal" 
	
		data-fieldname="pais" 
	
	data-signal-error-for="pais{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="pais" >


	<label class="r-search-label control-label" for="{$labelfor_pais}">
		{$label usuarios pais }	</label>
	<div class="r-search-option">
		{$searchtype_pais}
	</div>
	<div class="r-search-field">
		{$pais_editcontrol}	</div>
	<div class="r-search-field">
		{$pais_editcontrol1}
	</div>
	
</div>

{END pais_fieldblock}
											
{BEGIN estado_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_estado}  r-horizontal-field form-horizontal" 
	
		data-fieldname="estado" 
	
	data-signal-error-for="estado{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="estado" >


	<label class="r-search-label control-label" for="{$labelfor_estado}">
		{$label usuarios estado }	</label>
	<div class="r-search-option">
		{$searchtype_estado}
	</div>
	<div class="r-search-field">
		{$estado_editcontrol}	</div>
	<div class="r-search-field">
		{$estado_editcontrol1}
	</div>
	
</div>

{END estado_fieldblock}
											
{BEGIN municipio_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_municipio}  r-horizontal-field form-horizontal" 
	
		data-fieldname="municipio" 
	
	data-signal-error-for="municipio{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="municipio" >


	<label class="r-search-label control-label" for="{$labelfor_municipio}">
		{$label usuarios municipio }	</label>
	<div class="r-search-option">
		{$searchtype_municipio}
	</div>
	<div class="r-search-field">
		{$municipio_editcontrol}	</div>
	<div class="r-search-field">
		{$municipio_editcontrol1}
	</div>
	
</div>

{END municipio_fieldblock}
											
{BEGIN cep_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cep}  r-horizontal-field form-horizontal" 
	
		data-fieldname="cep" 
	
	data-signal-error-for="cep{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="cep" >


	<label class="r-search-label control-label" for="{$labelfor_cep}">
		{$label usuarios cep }	</label>
	<div class="r-search-option">
		{$searchtype_cep}
	</div>
	<div class="r-search-field">
		{$cep_editcontrol}	</div>
	<div class="r-search-field">
		{$cep_editcontrol1}
	</div>
	
</div>

{END cep_fieldblock}
											
{BEGIN rua_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_rua}  r-horizontal-field form-horizontal" 
	
		data-fieldname="rua" 
	
	data-signal-error-for="rua{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="rua" >


	<label class="r-search-label control-label" for="{$labelfor_rua}">
		{$label usuarios rua }	</label>
	<div class="r-search-option">
		{$searchtype_rua}
	</div>
	<div class="r-search-field">
		{$rua_editcontrol}	</div>
	<div class="r-search-field">
		{$rua_editcontrol1}
	</div>
	
</div>

{END rua_fieldblock}
											
{BEGIN numero_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_numero}  r-horizontal-field form-horizontal" 
	
		data-fieldname="numero" 
	
	data-signal-error-for="numero{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="numero" >


	<label class="r-search-label control-label" for="{$labelfor_numero}">
		{$label usuarios numero }	</label>
	<div class="r-search-option">
		{$searchtype_numero}
	</div>
	<div class="r-search-field">
		{$numero_editcontrol}	</div>
	<div class="r-search-field">
		{$numero_editcontrol1}
	</div>
	
</div>

{END numero_fieldblock}
											
{BEGIN complemento_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_complemento}  r-horizontal-field form-horizontal" 
	
		data-fieldname="complemento" 
	
	data-signal-error-for="complemento{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="complemento" >


	<label class="r-search-label control-label" for="{$labelfor_complemento}">
		{$label usuarios complemento }	</label>
	<div class="r-search-option">
		{$searchtype_complemento}
	</div>
	<div class="r-search-field">
		{$complemento_editcontrol}	</div>
	<div class="r-search-field">
		{$complemento_editcontrol1}
	</div>
	
</div>

{END complemento_fieldblock}
											
{BEGIN telefone_celular_principal_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_telefone_celular_principal}  r-horizontal-field form-horizontal" 
	
		data-fieldname="telefone_celular_principal" 
	
	data-signal-error-for="telefone_celular_principal{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="telefone_celular_principal" >


	<label class="r-search-label control-label" for="{$labelfor_telefone_celular_principal}">
		{$label usuarios telefone_celular_principal }	</label>
	<div class="r-search-option">
		{$searchtype_telefone_celular_principal}
	</div>
	<div class="r-search-field">
		{$telefone_celular_principal_editcontrol}	</div>
	<div class="r-search-field">
		{$telefone_celular_principal_editcontrol1}
	</div>
	
</div>

{END telefone_celular_principal_fieldblock}
											
{BEGIN telefone_celular_secundario_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_telefone_celular_secundario}  r-horizontal-field form-horizontal" 
	
		data-fieldname="telefone_celular_secundario" 
	
	data-signal-error-for="telefone_celular_secundario{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="telefone_celular_secundario" >


	<label class="r-search-label control-label" for="{$labelfor_telefone_celular_secundario}">
		{$label usuarios telefone_celular_secundario }	</label>
	<div class="r-search-option">
		{$searchtype_telefone_celular_secundario}
	</div>
	<div class="r-search-field">
		{$telefone_celular_secundario_editcontrol}	</div>
	<div class="r-search-field">
		{$telefone_celular_secundario_editcontrol1}
	</div>
	
</div>

{END telefone_celular_secundario_fieldblock}
											
{BEGIN telefone_residencial_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_telefone_residencial}  r-horizontal-field form-horizontal" 
	
		data-fieldname="telefone_residencial" 
	
	data-signal-error-for="telefone_residencial{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" {$item_integrated_search_field25} data-pageid="{$pageid}" data-field="telefone_residencial" >


	<label class="r-search-label control-label" for="{$labelfor_telefone_residencial}">
		{$label usuarios telefone_residencial }	</label>
	<div class="r-search-option">
		{$searchtype_telefone_residencial}
	</div>
	<div class="r-search-field">
		{$telefone_residencial_editcontrol}	</div>
	<div class="r-search-field">
		{$telefone_residencial_editcontrol1}
	</div>
	
</div>

{END telefone_residencial_fieldblock}
											
{BEGIN telefone_comercial_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_telefone_comercial}  r-horizontal-field form-horizontal" 
	
		data-fieldname="telefone_comercial" 
	
	data-signal-error-for="telefone_comercial{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field26" {$item_integrated_search_field26} data-pageid="{$pageid}" data-field="telefone_comercial" >


	<label class="r-search-label control-label" for="{$labelfor_telefone_comercial}">
		{$label usuarios telefone_comercial }	</label>
	<div class="r-search-option">
		{$searchtype_telefone_comercial}
	</div>
	<div class="r-search-field">
		{$telefone_comercial_editcontrol}	</div>
	<div class="r-search-field">
		{$telefone_comercial_editcontrol1}
	</div>
	
</div>

{END telefone_comercial_fieldblock}
											
{BEGIN code_trocar_senha_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_code_trocar_senha}  r-horizontal-field form-horizontal" 
	
		data-fieldname="code_trocar_senha" 
	
	data-signal-error-for="code_trocar_senha{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field27" {$item_integrated_search_field27} data-pageid="{$pageid}" data-field="code_trocar_senha" >


	<label class="r-search-label control-label" for="{$labelfor_code_trocar_senha}">
		{$label usuarios code_trocar_senha }	</label>
	<div class="r-search-option">
		{$searchtype_code_trocar_senha}
	</div>
	<div class="r-search-field">
		{$code_trocar_senha_editcontrol}	</div>
	<div class="r-search-field">
		{$code_trocar_senha_editcontrol1}
	</div>
	
</div>

{END code_trocar_senha_fieldblock}
											
{BEGIN deletado_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_deletado}  r-horizontal-field form-horizontal" 
	
		data-fieldname="deletado" 
	
	data-signal-error-for="deletado{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field28" {$item_integrated_search_field28} data-pageid="{$pageid}" data-field="deletado" >


	<label class="r-search-label control-label" for="{$labelfor_deletado}">
		{$label usuarios deletado }	</label>
	<div class="r-search-option">
		{$searchtype_deletado}
	</div>
	<div class="r-search-field">
		{$deletado_editcontrol}	</div>
	<div class="r-search-field">
		{$deletado_editcontrol1}
	</div>
	
</div>

{END deletado_fieldblock}
											
{BEGIN idEmpresa_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_idEmpresa}  r-horizontal-field form-horizontal" 
	
		data-fieldname="idEmpresa" 
	
	data-signal-error-for="idEmpresa{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field29" {$item_integrated_search_field29} data-pageid="{$pageid}" data-field="idEmpresa" >


	<label class="r-search-label control-label" for="{$labelfor_idEmpresa}">
		{$label usuarios idEmpresa }	</label>
	<div class="r-search-option">
		{$searchtype_idEmpresa}
	</div>
	<div class="r-search-field">
		{$idEmpresa_editcontrol}	</div>
	<div class="r-search-field">
		{$idEmpresa_editcontrol1}
	</div>
	
</div>

{END idEmpresa_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Limpar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Voltar à Lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancela			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
