<!doctype html><p align=center><font size=+1 color=red></font></p>
<p align=center><font size=+1 color=red></font></p>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel adm_usuarios_dados_profissionais search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN udp_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_udp_id}  r-horizontal-field form-horizontal" 
	
		data-fieldname="udp_id" 
	
	data-signal-error-for="udp_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="udp_id" >


	<label class="r-search-label control-label" for="{$labelfor_udp_id}">
		{$label adm_usuarios_dados_profissionais udp_id }	</label>
	<div class="r-search-option">
		{$searchtype_udp_id}
	</div>
	<div class="r-search-field">
		{$udp_id_editcontrol}	</div>
	<div class="r-search-field">
		{$udp_id_editcontrol1}
	</div>
	
</div>

{END udp_id_fieldblock}
											
{BEGIN udp_usu_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_udp_usu_id}  r-horizontal-field form-horizontal" 
	
		data-fieldname="udp_usu_id" 
	
	data-signal-error-for="udp_usu_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="udp_usu_id" >


	<label class="r-search-label control-label" for="{$labelfor_udp_usu_id}">
		{$label adm_usuarios_dados_profissionais udp_usu_id }	</label>
	<div class="r-search-option">
		{$searchtype_udp_usu_id}
	</div>
	<div class="r-search-field">
		{$udp_usu_id_editcontrol}	</div>
	<div class="r-search-field">
		{$udp_usu_id_editcontrol1}
	</div>
	
</div>

{END udp_usu_id_fieldblock}
											
{BEGIN email_profissional_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_email_profissional}  r-horizontal-field form-horizontal" 
	
		data-fieldname="email_profissional" 
	
	data-signal-error-for="email_profissional{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="email_profissional" >


	<label class="r-search-label control-label" for="{$labelfor_email_profissional}">
		{$label adm_usuarios_dados_profissionais email_profissional }	</label>
	<div class="r-search-option">
		{$searchtype_email_profissional}
	</div>
	<div class="r-search-field">
		{$email_profissional_editcontrol}	</div>
	<div class="r-search-field">
		{$email_profissional_editcontrol1}
	</div>
	
</div>

{END email_profissional_fieldblock}
											
{BEGIN avaliacao_usuarios_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_avaliacao_usuarios}  r-horizontal-field form-horizontal" 
	
		data-fieldname="avaliacao_usuarios" 
	
	data-signal-error-for="avaliacao_usuarios{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="avaliacao_usuarios" >


	<label class="r-search-label control-label" for="{$labelfor_avaliacao_usuarios}">
		{$label adm_usuarios_dados_profissionais avaliacao_usuarios }	</label>
	<div class="r-search-option">
		{$searchtype_avaliacao_usuarios}
	</div>
	<div class="r-search-field">
		{$avaliacao_usuarios_editcontrol}	</div>
	<div class="r-search-field">
		{$avaliacao_usuarios_editcontrol1}
	</div>
	
</div>

{END avaliacao_usuarios_fieldblock}
											
{BEGIN sobre_profissional_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sobre_profissional}  r-horizontal-field form-horizontal" 
	
		data-fieldname="sobre_profissional" 
	
	data-signal-error-for="sobre_profissional{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="sobre_profissional" >


	<label class="r-search-label control-label" for="{$labelfor_sobre_profissional}">
		{$label adm_usuarios_dados_profissionais sobre_profissional }	</label>
	<div class="r-search-option">
		{$searchtype_sobre_profissional}
	</div>
	<div class="r-search-field">
		{$sobre_profissional_editcontrol}	</div>
	<div class="r-search-field">
		{$sobre_profissional_editcontrol1}
	</div>
	
</div>

{END sobre_profissional_fieldblock}
											
{BEGIN resumo_formacao_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_resumo_formacao}  r-horizontal-field form-horizontal" 
	
		data-fieldname="resumo_formacao" 
	
	data-signal-error-for="resumo_formacao{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="resumo_formacao" >


	<label class="r-search-label control-label" for="{$labelfor_resumo_formacao}">
		{$label adm_usuarios_dados_profissionais resumo_formacao }	</label>
	<div class="r-search-option">
		{$searchtype_resumo_formacao}
	</div>
	<div class="r-search-field">
		{$resumo_formacao_editcontrol}	</div>
	<div class="r-search-field">
		{$resumo_formacao_editcontrol1}
	</div>
	
</div>

{END resumo_formacao_fieldblock}
											
{BEGIN diferencial_profissional_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_diferencial_profissional}  r-horizontal-field form-horizontal" 
	
		data-fieldname="diferencial_profissional" 
	
	data-signal-error-for="diferencial_profissional{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="diferencial_profissional" >


	<label class="r-search-label control-label" for="{$labelfor_diferencial_profissional}">
		{$label adm_usuarios_dados_profissionais diferencial_profissional }	</label>
	<div class="r-search-option">
		{$searchtype_diferencial_profissional}
	</div>
	<div class="r-search-field">
		{$diferencial_profissional_editcontrol}	</div>
	<div class="r-search-field">
		{$diferencial_profissional_editcontrol1}
	</div>
	
</div>

{END diferencial_profissional_fieldblock}
											
{BEGIN atendimento_presencial_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_atendimento_presencial}  r-horizontal-field form-horizontal" 
	
		data-fieldname="atendimento_presencial" 
	
	data-signal-error-for="atendimento_presencial{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="atendimento_presencial" >


	<label class="r-search-label control-label" for="{$labelfor_atendimento_presencial}">
		{$label adm_usuarios_dados_profissionais atendimento_presencial }	</label>
	<div class="r-search-option">
		{$searchtype_atendimento_presencial}
	</div>
	<div class="r-search-field">
		{$atendimento_presencial_editcontrol}	</div>
	<div class="r-search-field">
		{$atendimento_presencial_editcontrol1}
	</div>
	
</div>

{END atendimento_presencial_fieldblock}
											
{BEGIN atendimento_online_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_atendimento_online}  r-horizontal-field form-horizontal" 
	
		data-fieldname="atendimento_online" 
	
	data-signal-error-for="atendimento_online{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="atendimento_online" >


	<label class="r-search-label control-label" for="{$labelfor_atendimento_online}">
		{$label adm_usuarios_dados_profissionais atendimento_online }	</label>
	<div class="r-search-option">
		{$searchtype_atendimento_online}
	</div>
	<div class="r-search-field">
		{$atendimento_online_editcontrol}	</div>
	<div class="r-search-field">
		{$atendimento_online_editcontrol1}
	</div>
	
</div>

{END atendimento_online_fieldblock}
											
{BEGIN mini_curriculo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_mini_curriculo}  r-horizontal-field form-horizontal" 
	
		data-fieldname="mini_curriculo" 
	
	data-signal-error-for="mini_curriculo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="mini_curriculo" >


	<label class="r-search-label control-label" for="{$labelfor_mini_curriculo}">
		{$label adm_usuarios_dados_profissionais mini_curriculo }	</label>
	<div class="r-search-option">
		{$searchtype_mini_curriculo}
	</div>
	<div class="r-search-field">
		{$mini_curriculo_editcontrol}	</div>
	<div class="r-search-field">
		{$mini_curriculo_editcontrol1}
	</div>
	
</div>

{END mini_curriculo_fieldblock}
											
{BEGIN resumo_formacao_academica_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_resumo_formacao_academica}  r-horizontal-field form-horizontal" 
	
		data-fieldname="resumo_formacao_academica" 
	
	data-signal-error-for="resumo_formacao_academica{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="resumo_formacao_academica" >


	<label class="r-search-label control-label" for="{$labelfor_resumo_formacao_academica}">
		{$label adm_usuarios_dados_profissionais resumo_formacao_academica }	</label>
	<div class="r-search-option">
		{$searchtype_resumo_formacao_academica}
	</div>
	<div class="r-search-field">
		{$resumo_formacao_academica_editcontrol}	</div>
	<div class="r-search-field">
		{$resumo_formacao_academica_editcontrol1}
	</div>
	
</div>

{END resumo_formacao_academica_fieldblock}
											
{BEGIN resumo_formacao_cursos_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_resumo_formacao_cursos}  r-horizontal-field form-horizontal" 
	
		data-fieldname="resumo_formacao_cursos" 
	
	data-signal-error-for="resumo_formacao_cursos{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="resumo_formacao_cursos" >


	<label class="r-search-label control-label" for="{$labelfor_resumo_formacao_cursos}">
		{$label adm_usuarios_dados_profissionais resumo_formacao_cursos }	</label>
	<div class="r-search-option">
		{$searchtype_resumo_formacao_cursos}
	</div>
	<div class="r-search-field">
		{$resumo_formacao_cursos_editcontrol}	</div>
	<div class="r-search-field">
		{$resumo_formacao_cursos_editcontrol1}
	</div>
	
</div>

{END resumo_formacao_cursos_fieldblock}
											
{BEGIN nome_empresa_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nome_empresa}  r-horizontal-field form-horizontal" 
	
		data-fieldname="nome_empresa" 
	
	data-signal-error-for="nome_empresa{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="nome_empresa" >


	<label class="r-search-label control-label" for="{$labelfor_nome_empresa}">
		{$label adm_usuarios_dados_profissionais nome_empresa }	</label>
	<div class="r-search-option">
		{$searchtype_nome_empresa}
	</div>
	<div class="r-search-field">
		{$nome_empresa_editcontrol}	</div>
	<div class="r-search-field">
		{$nome_empresa_editcontrol1}
	</div>
	
</div>

{END nome_empresa_fieldblock}
											
{BEGIN cnpj_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cnpj}  r-horizontal-field form-horizontal" 
	
		data-fieldname="cnpj" 
	
	data-signal-error-for="cnpj{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="cnpj" >


	<label class="r-search-label control-label" for="{$labelfor_cnpj}">
		{$label adm_usuarios_dados_profissionais cnpj }	</label>
	<div class="r-search-option">
		{$searchtype_cnpj}
	</div>
	<div class="r-search-field">
		{$cnpj_editcontrol}	</div>
	<div class="r-search-field">
		{$cnpj_editcontrol1}
	</div>
	
</div>

{END cnpj_fieldblock}
											
{BEGIN ramo_empresa_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ramo_empresa}  r-horizontal-field form-horizontal" 
	
		data-fieldname="ramo_empresa" 
	
	data-signal-error-for="ramo_empresa{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="ramo_empresa" >


	<label class="r-search-label control-label" for="{$labelfor_ramo_empresa}">
		{$label adm_usuarios_dados_profissionais ramo_empresa }	</label>
	<div class="r-search-option">
		{$searchtype_ramo_empresa}
	</div>
	<div class="r-search-field">
		{$ramo_empresa_editcontrol}	</div>
	<div class="r-search-field">
		{$ramo_empresa_editcontrol1}
	</div>
	
</div>

{END ramo_empresa_fieldblock}
											
{BEGIN cep_profissional_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cep_profissional}  r-horizontal-field form-horizontal" 
	
		data-fieldname="cep_profissional" 
	
	data-signal-error-for="cep_profissional{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="cep_profissional" >


	<label class="r-search-label control-label" for="{$labelfor_cep_profissional}">
		{$label adm_usuarios_dados_profissionais cep_profissional }	</label>
	<div class="r-search-option">
		{$searchtype_cep_profissional}
	</div>
	<div class="r-search-field">
		{$cep_profissional_editcontrol}	</div>
	<div class="r-search-field">
		{$cep_profissional_editcontrol1}
	</div>
	
</div>

{END cep_profissional_fieldblock}
											
{BEGIN endereco_profissional_rua_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_endereco_profissional_rua}  r-horizontal-field form-horizontal" 
	
		data-fieldname="endereco_profissional_rua" 
	
	data-signal-error-for="endereco_profissional_rua{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="endereco_profissional_rua" >


	<label class="r-search-label control-label" for="{$labelfor_endereco_profissional_rua}">
		{$label adm_usuarios_dados_profissionais endereco_profissional_rua }	</label>
	<div class="r-search-option">
		{$searchtype_endereco_profissional_rua}
	</div>
	<div class="r-search-field">
		{$endereco_profissional_rua_editcontrol}	</div>
	<div class="r-search-field">
		{$endereco_profissional_rua_editcontrol1}
	</div>
	
</div>

{END endereco_profissional_rua_fieldblock}
											
{BEGIN endereco_profissional_numero_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_endereco_profissional_numero}  r-horizontal-field form-horizontal" 
	
		data-fieldname="endereco_profissional_numero" 
	
	data-signal-error-for="endereco_profissional_numero{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="endereco_profissional_numero" >


	<label class="r-search-label control-label" for="{$labelfor_endereco_profissional_numero}">
		{$label adm_usuarios_dados_profissionais endereco_profissional_numero }	</label>
	<div class="r-search-option">
		{$searchtype_endereco_profissional_numero}
	</div>
	<div class="r-search-field">
		{$endereco_profissional_numero_editcontrol}	</div>
	<div class="r-search-field">
		{$endereco_profissional_numero_editcontrol1}
	</div>
	
</div>

{END endereco_profissional_numero_fieldblock}
											
{BEGIN endereco_profissional_complemento_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_endereco_profissional_complemento}  r-horizontal-field form-horizontal" 
	
		data-fieldname="endereco_profissional_complemento" 
	
	data-signal-error-for="endereco_profissional_complemento{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="endereco_profissional_complemento" >


	<label class="r-search-label control-label" for="{$labelfor_endereco_profissional_complemento}">
		{$label adm_usuarios_dados_profissionais endereco_profissional_complemento }	</label>
	<div class="r-search-option">
		{$searchtype_endereco_profissional_complemento}
	</div>
	<div class="r-search-field">
		{$endereco_profissional_complemento_editcontrol}	</div>
	<div class="r-search-field">
		{$endereco_profissional_complemento_editcontrol1}
	</div>
	
</div>

{END endereco_profissional_complemento_fieldblock}
											
{BEGIN endereco_profissional_latitude_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_endereco_profissional_latitude}  r-horizontal-field form-horizontal" 
	
		data-fieldname="endereco_profissional_latitude" 
	
	data-signal-error-for="endereco_profissional_latitude{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="endereco_profissional_latitude" >


	<label class="r-search-label control-label" for="{$labelfor_endereco_profissional_latitude}">
		{$label adm_usuarios_dados_profissionais endereco_profissional_latitude }	</label>
	<div class="r-search-option">
		{$searchtype_endereco_profissional_latitude}
	</div>
	<div class="r-search-field">
		{$endereco_profissional_latitude_editcontrol}	</div>
	<div class="r-search-field">
		{$endereco_profissional_latitude_editcontrol1}
	</div>
	
</div>

{END endereco_profissional_latitude_fieldblock}
											
{BEGIN endereco_profissional_longitude_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_endereco_profissional_longitude}  r-horizontal-field form-horizontal" 
	
		data-fieldname="endereco_profissional_longitude" 
	
	data-signal-error-for="endereco_profissional_longitude{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="endereco_profissional_longitude" >


	<label class="r-search-label control-label" for="{$labelfor_endereco_profissional_longitude}">
		{$label adm_usuarios_dados_profissionais endereco_profissional_longitude }	</label>
	<div class="r-search-option">
		{$searchtype_endereco_profissional_longitude}
	</div>
	<div class="r-search-field">
		{$endereco_profissional_longitude_editcontrol}	</div>
	<div class="r-search-field">
		{$endereco_profissional_longitude_editcontrol1}
	</div>
	
</div>

{END endereco_profissional_longitude_fieldblock}
											
{BEGIN pais_empresa_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_pais_empresa}  r-horizontal-field form-horizontal" 
	
		data-fieldname="pais_empresa" 
	
	data-signal-error-for="pais_empresa{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="pais_empresa" >


	<label class="r-search-label control-label" for="{$labelfor_pais_empresa}">
		{$label adm_usuarios_dados_profissionais pais_empresa }	</label>
	<div class="r-search-option">
		{$searchtype_pais_empresa}
	</div>
	<div class="r-search-field">
		{$pais_empresa_editcontrol}	</div>
	<div class="r-search-field">
		{$pais_empresa_editcontrol1}
	</div>
	
</div>

{END pais_empresa_fieldblock}
											
{BEGIN estado_empresa_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_estado_empresa}  r-horizontal-field form-horizontal" 
	
		data-fieldname="estado_empresa" 
	
	data-signal-error-for="estado_empresa{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" {$item_integrated_search_field25} data-pageid="{$pageid}" data-field="estado_empresa" >


	<label class="r-search-label control-label" for="{$labelfor_estado_empresa}">
		{$label adm_usuarios_dados_profissionais estado_empresa }	</label>
	<div class="r-search-option">
		{$searchtype_estado_empresa}
	</div>
	<div class="r-search-field">
		{$estado_empresa_editcontrol}	</div>
	<div class="r-search-field">
		{$estado_empresa_editcontrol1}
	</div>
	
</div>

{END estado_empresa_fieldblock}
											
{BEGIN municipio_empresa_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_municipio_empresa}  r-horizontal-field form-horizontal" 
	
		data-fieldname="municipio_empresa" 
	
	data-signal-error-for="municipio_empresa{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field26" {$item_integrated_search_field26} data-pageid="{$pageid}" data-field="municipio_empresa" >


	<label class="r-search-label control-label" for="{$labelfor_municipio_empresa}">
		{$label adm_usuarios_dados_profissionais municipio_empresa }	</label>
	<div class="r-search-option">
		{$searchtype_municipio_empresa}
	</div>
	<div class="r-search-field">
		{$municipio_empresa_editcontrol}	</div>
	<div class="r-search-field">
		{$municipio_empresa_editcontrol1}
	</div>
	
</div>

{END municipio_empresa_fieldblock}
											
{BEGIN Foto_Fechada_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Foto_Fechada}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Foto_Fechada" 
	
	data-signal-error-for="Foto_Fechada{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field28" {$item_integrated_search_field28} data-pageid="{$pageid}" data-field="Foto_Fechada" >


	<label class="r-search-label control-label" for="{$labelfor_Foto_Fechada}">
		{$label adm_usuarios_dados_profissionais Foto_Fechada }	</label>
	<div class="r-search-option">
		{$searchtype_Foto_Fechada}
	</div>
	<div class="r-search-field">
		{$Foto_Fechada_editcontrol}	</div>
	<div class="r-search-field">
		{$Foto_Fechada_editcontrol1}
	</div>
	
</div>

{END Foto_Fechada_fieldblock}
											
{BEGIN Logotipo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Logotipo}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Logotipo" 
	
	data-signal-error-for="Logotipo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field29" {$item_integrated_search_field29} data-pageid="{$pageid}" data-field="Logotipo" >


	<label class="r-search-label control-label" for="{$labelfor_Logotipo}">
		{$label adm_usuarios_dados_profissionais Logotipo }	</label>
	<div class="r-search-option">
		{$searchtype_Logotipo}
	</div>
	<div class="r-search-field">
		{$Logotipo_editcontrol}	</div>
	<div class="r-search-field">
		{$Logotipo_editcontrol1}
	</div>
	
</div>

{END Logotipo_fieldblock}
											
{BEGIN Mapa_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Mapa}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Mapa" 
	
	data-signal-error-for="Mapa{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="Mapa" >


	<label class="r-search-label control-label" for="{$labelfor_Mapa}">
		{$label adm_usuarios_dados_profissionais Mapa }	</label>
	<div class="r-search-option">
		{$searchtype_Mapa}
	</div>
	<div class="r-search-field">
		{$Mapa_editcontrol}	</div>
	<div class="r-search-field">
		{$Mapa_editcontrol1}
	</div>
	
</div>

{END Mapa_fieldblock}
											
{BEGIN endereco_profissional_bairro_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_endereco_profissional_bairro}  r-horizontal-field form-horizontal" 
	
		data-fieldname="endereco_profissional_bairro" 
	
	data-signal-error-for="endereco_profissional_bairro{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="endereco_profissional_bairro" >


	<label class="r-search-label control-label" for="{$labelfor_endereco_profissional_bairro}">
		{$label adm_usuarios_dados_profissionais endereco_profissional_bairro }	</label>
	<div class="r-search-option">
		{$searchtype_endereco_profissional_bairro}
	</div>
	<div class="r-search-field">
		{$endereco_profissional_bairro_editcontrol}	</div>
	<div class="r-search-field">
		{$endereco_profissional_bairro_editcontrol1}
	</div>
	
</div>

{END endereco_profissional_bairro_fieldblock}
											
{BEGIN Horarios_de_Atendimento_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Horarios_de_Atendimento}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Horarios_de_Atendimento" 
	
	data-signal-error-for="Horarios_de_Atendimento{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="Horarios_de_Atendimento" >


	<label class="r-search-label control-label" for="{$labelfor_Horarios_de_Atendimento}">
		{$label adm_usuarios_dados_profissionais Horarios_de_Atendimento }	</label>
	<div class="r-search-option">
		{$searchtype_Horarios_de_Atendimento}
	</div>
	<div class="r-search-field">
		{$Horarios_de_Atendimento_editcontrol}	</div>
	<div class="r-search-field">
		{$Horarios_de_Atendimento_editcontrol1}
	</div>
	
</div>

{END Horarios_de_Atendimento_fieldblock}
											
{BEGIN Sobre_a_Empresa_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Sobre_a_Empresa}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Sobre_a_Empresa" 
	
	data-signal-error-for="Sobre_a_Empresa{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field27" {$item_integrated_search_field27} data-pageid="{$pageid}" data-field="Sobre_a_Empresa" >


	<label class="r-search-label control-label" for="{$labelfor_Sobre_a_Empresa}">
		{$label adm_usuarios_dados_profissionais Sobre_a_Empresa }	</label>
	<div class="r-search-option">
		{$searchtype_Sobre_a_Empresa}
	</div>
	<div class="r-search-field">
		{$Sobre_a_Empresa_editcontrol}	</div>
	<div class="r-search-field">
		{$Sobre_a_Empresa_editcontrol1}
	</div>
	
</div>

{END Sobre_a_Empresa_fieldblock}
											
{BEGIN idPlano_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_idPlano}  r-horizontal-field form-horizontal" 
	
		data-fieldname="idPlano" 
	
	data-signal-error-for="idPlano{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field30" {$item_integrated_search_field30} data-pageid="{$pageid}" data-field="idPlano" >


	<label class="r-search-label control-label" for="{$labelfor_idPlano}">
		{$label adm_usuarios_dados_profissionais idPlano }	</label>
	<div class="r-search-option">
		{$searchtype_idPlano}
	</div>
	<div class="r-search-field">
		{$idPlano_editcontrol}	</div>
	<div class="r-search-field">
		{$idPlano_editcontrol1}
	</div>
	
</div>

{END idPlano_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Limpar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Voltar à Lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancela			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
