<!doctype html><p align=center><font size=+1 color=red>This website was created by evaluation version of PHPRunner Trial.</font></p>
<p align=center><font size=+1 color=red>This warning message will not appear on website created by a paid-for version of PHPRunner Trial.</font></p>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel adm_agenda_1 search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN age_data_in_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_age_data_in}  r-horizontal-field form-horizontal" 
	
		data-fieldname="age_data_in" 
	
	data-signal-error-for="age_data_in{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="age_data_in" >


	<label class="r-search-label control-label" for="{$labelfor_age_data_in}">
		{$label adm_agenda_1 age_data_in }	</label>
	<div class="r-search-option">
		{$searchtype_age_data_in}
	</div>
	<div class="r-search-field">
		{$age_data_in_editcontrol}	</div>
	<div class="r-search-field">
		{$age_data_in_editcontrol1}
	</div>
	
</div>

{END age_data_in_fieldblock}
											
{BEGIN age_time_att_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_age_time_att}  r-horizontal-field form-horizontal" 
	
		data-fieldname="age_time_att" 
	
	data-signal-error-for="age_time_att{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="age_time_att" >


	<label class="r-search-label control-label" for="{$labelfor_age_time_att}">
		{$label adm_agenda_1 age_time_att }	</label>
	<div class="r-search-option">
		{$searchtype_age_time_att}
	</div>
	<div class="r-search-field">
		{$age_time_att_editcontrol}	</div>
	<div class="r-search-field">
		{$age_time_att_editcontrol1}
	</div>
	
</div>

{END age_time_att_fieldblock}
											
{BEGIN age_dia_sem_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_age_dia_sem}  r-horizontal-field form-horizontal" 
	
		data-fieldname="age_dia_sem" 
	
	data-signal-error-for="age_dia_sem{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="age_dia_sem" >


	<label class="r-search-label control-label" for="{$labelfor_age_dia_sem}">
		{$label adm_agenda_1 age_dia_sem }	</label>
	<div class="r-search-option">
		{$searchtype_age_dia_sem}
	</div>
	<div class="r-search-field">
		{$age_dia_sem_editcontrol}	</div>
	<div class="r-search-field">
		{$age_dia_sem_editcontrol1}
	</div>
	
</div>

{END age_dia_sem_fieldblock}
											
{BEGIN age_Paciente_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_age_Paciente}  r-horizontal-field form-horizontal" 
	
		data-fieldname="age_Paciente" 
	
	data-signal-error-for="age_Paciente{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="age_Paciente" >


	<label class="r-search-label control-label" for="{$labelfor_age_Paciente}">
		{$label adm_agenda_1 age_Paciente }	</label>
	<div class="r-search-option">
		{$searchtype_age_Paciente}
	</div>
	<div class="r-search-field">
		{$age_Paciente_editcontrol}	</div>
	<div class="r-search-field">
		{$age_Paciente_editcontrol1}
	</div>
	
</div>

{END age_Paciente_fieldblock}
											
{BEGIN age_Link_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_age_Link}  r-horizontal-field form-horizontal" 
	
		data-fieldname="age_Link" 
	
	data-signal-error-for="age_Link{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="age_Link" >


	<label class="r-search-label control-label" for="{$labelfor_age_Link}">
		{$label adm_agenda_1 age_Link }	</label>
	<div class="r-search-option">
		{$searchtype_age_Link}
	</div>
	<div class="r-search-field">
		{$age_Link_editcontrol}	</div>
	<div class="r-search-field">
		{$age_Link_editcontrol1}
	</div>
	
</div>

{END age_Link_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Limpar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Voltar à Lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancela			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
