<!doctype html><p align=center><font size=+1 color=red>This website was created by evaluation version of PHPRunner Trial.</font></p>
<p align=center><font size=+1 color=red>This warning message will not appear on website created by a paid-for version of PHPRunner Trial.</font></p>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-edit" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="edit_header" data-itemid="edit_header" {$item_edit_header} data-pageid="{$pageid}" >{$pagetitlelabel adm_agenda_1 edit}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<div data-itemtype="edit_message" data-itemid="edit_message" {$item_edit_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
			<button class="btn btn-sm btn-default" {$backbutton_attrs}>Voltar à Lista</button>
	{END back_button}
{BEGIN view_page_button}
		<a class="btn btn-sm btn-default" href="adm_agenda_1_view.php?{$editlink}" {$view_page_button_attrs}>Exibir</a>
{END view_page_button}
</div>
</div>
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN age_Paciente_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_age_Paciente}  r-vertical-field" 
	data-fieldname="age_Paciente" 
	data-signal-error-for="age_Paciente{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="age_Paciente" >


	<label class="r-edit-label control-label" for="{$labelfor_age_Paciente}">
		{BEGIN age_Paciente_label}{$label adm_agenda_1 age_Paciente }{END age_Paciente_label}
	</label>
	<div class="r-edit-field">
		{$age_Paciente_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="age_Paciente">
		<div class="text-muted" >
		{$tooltip adm_agenda_1 age_Paciente }		</div>
	</div>
</div>


{END age_Paciente_fieldblock}
											
{BEGIN age_config_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_age_config_id}  r-vertical-field" 
	data-fieldname="age_config_id" 
	data-signal-error-for="age_config_id{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="age_config_id" >


	<label class="r-edit-label control-label" for="{$labelfor_age_config_id}">
		{BEGIN age_config_id_label}{$label adm_agenda_1 age_config_id }{END age_config_id_label}
	</label>
	<div class="r-edit-field">
		{$age_config_id_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="age_config_id">
		<div class="text-muted" >
		{$tooltip adm_agenda_1 age_config_id }		</div>
	</div>
</div>


{END age_config_id_fieldblock}
											
{BEGIN age_data_att_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_age_data_att}  r-vertical-field" 
	data-fieldname="age_data_att" 
	data-signal-error-for="age_data_att{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="age_data_att" >


	<label class="r-edit-label control-label" for="{$labelfor_age_data_att}">
		{BEGIN age_data_att_label}{$label adm_agenda_1 age_data_att }{END age_data_att_label}
	</label>
	<div class="r-edit-field">
		{$age_data_att_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="age_data_att">
		<div class="text-muted" >
		{$tooltip adm_agenda_1 age_data_att }		</div>
	</div>
</div>


{END age_data_att_fieldblock}
											
{BEGIN age_time_att_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_age_time_att}  r-vertical-field" 
	data-fieldname="age_time_att" 
	data-signal-error-for="age_time_att{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="age_time_att" >


	<label class="r-edit-label control-label" for="{$labelfor_age_time_att}">
		{BEGIN age_time_att_label}{$label adm_agenda_1 age_time_att }{END age_time_att_label}
	</label>
	<div class="r-edit-field">
		{$age_time_att_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="age_time_att">
		<div class="text-muted" >
		{$tooltip adm_agenda_1 age_time_att }		</div>
	</div>
</div>


{END age_time_att_fieldblock}
											
{BEGIN age_tipo_pagamento_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_age_tipo_pagamento}  r-vertical-field" 
	data-fieldname="age_tipo_pagamento" 
	data-signal-error-for="age_tipo_pagamento{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="age_tipo_pagamento" >


	<label class="r-edit-label control-label" for="{$labelfor_age_tipo_pagamento}">
		{BEGIN age_tipo_pagamento_label}{$label adm_agenda_1 age_tipo_pagamento }{END age_tipo_pagamento_label}
	</label>
	<div class="r-edit-field">
		{$age_tipo_pagamento_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="age_tipo_pagamento">
		<div class="text-muted" >
		{$tooltip adm_agenda_1 age_tipo_pagamento }		</div>
	</div>
</div>


{END age_tipo_pagamento_fieldblock}
											
{BEGIN age_anotacoes_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_age_anotacoes}  r-vertical-field" 
	data-fieldname="age_anotacoes" 
	data-signal-error-for="age_anotacoes{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="age_anotacoes" >


	<label class="r-edit-label control-label" for="{$labelfor_age_anotacoes}">
		{BEGIN age_anotacoes_label}{$label adm_agenda_1 age_anotacoes }{END age_anotacoes_label}
	</label>
	<div class="r-edit-field">
		{$age_anotacoes_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="age_anotacoes">
		<div class="text-muted" >
		{$tooltip adm_agenda_1 age_anotacoes }		</div>
	</div>
</div>


{END age_anotacoes_fieldblock}
											
{BEGIN age_Link_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_age_Link}  r-vertical-field" 
	data-fieldname="age_Link" 
	data-signal-error-for="age_Link{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="age_Link" >


	<label class="r-edit-label control-label" for="{$labelfor_age_Link}">
		{BEGIN age_Link_label}{$label adm_agenda_1 age_Link }{END age_Link_label}
	</label>
	<div class="r-edit-field">
		{$age_Link_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="age_Link">
		<div class="text-muted" >
		{$tooltip adm_agenda_1 age_Link }		</div>
	</div>
</div>


{END age_Link_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN save_edit}
<span data-itemtype="edit_save" data-itemid="edit_save" {$item_edit_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Salvar			</a>
</span>
{END save_edit}
	 
		{BEGIN back_button}
<span data-itemtype="edit_back_list" data-itemid="edit_back_list" {$item_edit_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Voltar à Lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="edit_close" data-itemid="edit_close" {$item_edit_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$closebutton_attrs} >
							Cancela			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-menu-hamburger"></span>
									<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="edit_reset" data-itemid="edit_reset" {$item_edit_reset} data-pageid="{$pageid}" data-small >
				<a  {$resetbutton_attrs}  title="" >
				
		Limpar		
		</a>
	</li>
							{BEGIN view_page_button}
	<li data-itemtype="edit_view" data-itemid="edit_view" {$item_edit_view} data-pageid="{$pageid}" data-small >
				<a  href="adm_agenda_1_view.php?{$editlink}" {$view_page_button_attrs}  title="" >
				
		Exibir		
		</a>
	</li>
{END view_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
