<!doctype html><p align=center><font size=+1 color=red></font></p>
<p align=center><font size=+1 color=red></font></p>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-edit" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="edit_header" data-itemid="edit_header" {$item_edit_header} data-pageid="{$pageid}" >{$pagetitlelabel usuarios edit}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<div data-itemtype="edit_message" data-itemid="edit_message" {$item_edit_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
			<button class="btn btn-sm btn-default" {$backbutton_attrs}>Voltar à Lista</button>
	{END back_button}
{BEGIN view_page_button}
		<a class="btn btn-sm btn-default" href="usuarios_view.php?{$editlink}" {$view_page_button_attrs}>Exibir</a>
{END view_page_button}
</div>
</div>
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN avatar_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_avatar}  r-vertical-field" 
	data-fieldname="avatar" 
	data-signal-error-for="avatar{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="avatar" >


	<label class="r-edit-label control-label" for="{$labelfor_avatar}">
		{BEGIN avatar_label}{$label usuarios avatar }{END avatar_label}
	</label>
	<div class="r-edit-field">
		{$avatar_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="avatar">
		<div class="text-muted" >
		{$tooltip usuarios avatar }		</div>
	</div>
</div>


{END avatar_fieldblock}
										</td>
			{END cellblock_grid_c3}
										</tr>
										</tbody></table>
				<div class="panel with-tabs panel-default form-tabs" data-itemtype="tabs" data-itemid="tabs" {$item_tabs} data-pageid="{$pageid}">
	<div class="panel-heading">
		<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" class="active">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section{$pageid}">
					Dados Pessoais				</a>
			</li>
										<li role="presentation" class="">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section1{$pageid}">
					Endereço				</a>
			</li>
										<li role="presentation" class="">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section2{$pageid}">
					Telefones				</a>
			</li>
									</ul>
	</div>
	<div class="panel-body">
		<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="tab_section{$pageid}"> 
			{BEGIN section_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section" id="form_section_{$pageid}" data-makeup="small" {$form_section} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_section_c1}
<td
	{$cell_section_c1}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="section_c1" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN nome_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_nome}  r-vertical-field" 
	data-fieldname="nome" 
	data-signal-error-for="nome{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="nome" >


	<label class="r-edit-label control-label" for="{$labelfor_nome}">
		{BEGIN nome_label}{$label usuarios nome }{END nome_label}
	</label>
	<div class="r-edit-field">
		{$nome_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="nome">
		<div class="text-muted" >
		{$tooltip usuarios nome }		</div>
	</div>
</div>


{END nome_fieldblock}
											
{BEGIN sobrenome_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sobrenome}  r-vertical-field" 
	data-fieldname="sobrenome" 
	data-signal-error-for="sobrenome{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="sobrenome" >


	<label class="r-edit-label control-label" for="{$labelfor_sobrenome}">
		{BEGIN sobrenome_label}{$label usuarios sobrenome }{END sobrenome_label}
	</label>
	<div class="r-edit-field">
		{$sobrenome_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="sobrenome">
		<div class="text-muted" >
		{$tooltip usuarios sobrenome }		</div>
	</div>
</div>


{END sobrenome_fieldblock}
											
{BEGIN cpf_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cpf}  r-vertical-field" 
	data-fieldname="cpf" 
	data-signal-error-for="cpf{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="cpf" >


	<label class="r-edit-label control-label" for="{$labelfor_cpf}">
		{BEGIN cpf_label}{$label usuarios cpf }{END cpf_label}
	</label>
	<div class="r-edit-field">
		{$cpf_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cpf">
		<div class="text-muted" >
		{$tooltip usuarios cpf }		</div>
	</div>
</div>


{END cpf_fieldblock}
											
{BEGIN email_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_email}  r-vertical-field" 
	data-fieldname="email" 
	data-signal-error-for="email{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="email" >


	<label class="r-edit-label control-label" for="{$labelfor_email}">
		{BEGIN email_label}{$label usuarios email }{END email_label}
	</label>
	<div class="r-edit-field">
		{$email_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="email">
		<div class="text-muted" >
		{$tooltip usuarios email }		</div>
	</div>
</div>


{END email_fieldblock}
											
{BEGIN senha_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_senha}  r-vertical-field" 
	data-fieldname="senha" 
	data-signal-error-for="senha{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="senha" >


	<label class="r-edit-label control-label" for="{$labelfor_senha}">
		{BEGIN senha_label}{$label usuarios senha }{END senha_label}
	</label>
	<div class="r-edit-field">
		{$senha_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="senha">
		<div class="text-muted" >
		{$tooltip usuarios senha }		</div>
	</div>
</div>


{END senha_fieldblock}
											
{BEGIN sexo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sexo}  r-vertical-field" 
	data-fieldname="sexo" 
	data-signal-error-for="sexo{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="sexo" >


	<label class="r-edit-label control-label" for="{$labelfor_sexo}">
		{BEGIN sexo_label}{$label usuarios sexo }{END sexo_label}
	</label>
	<div class="r-edit-field">
		{$sexo_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="sexo">
		<div class="text-muted" >
		{$tooltip usuarios sexo }		</div>
	</div>
</div>


{END sexo_fieldblock}
											
{BEGIN plano_tipo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_plano_tipo}  r-vertical-field" 
	data-fieldname="plano_tipo" 
	data-signal-error-for="plano_tipo{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="plano_tipo" >


	<label class="r-edit-label control-label" for="{$labelfor_plano_tipo}">
		{BEGIN plano_tipo_label}{$label usuarios plano_tipo }{END plano_tipo_label}
	</label>
	<div class="r-edit-field">
		{$plano_tipo_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="plano_tipo">
		<div class="text-muted" >
		{$tooltip usuarios plano_tipo }		</div>
	</div>
</div>


{END plano_tipo_fieldblock}
											
{BEGIN tipo_usuario_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_tipo_usuario}  r-vertical-field" 
	data-fieldname="tipo_usuario" 
	data-signal-error-for="tipo_usuario{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="tipo_usuario" >


	<label class="r-edit-label control-label" for="{$labelfor_tipo_usuario}">
		{BEGIN tipo_usuario_label}{$label usuarios tipo_usuario }{END tipo_usuario_label}
	</label>
	<div class="r-edit-field">
		{$tipo_usuario_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="tipo_usuario">
		<div class="text-muted" >
		{$tooltip usuarios tipo_usuario }		</div>
	</div>
</div>


{END tipo_usuario_fieldblock}
	
								</td>
			{END cellblock_section_c1}
								</tr>
			</tbody></table>
{END section_block}
						</div>
					<div role="tabpanel" class="tab-pane " id="tab_section1{$pageid}"> 
			{BEGIN section1_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section1" id="form_section1_{$pageid}" data-makeup="small" {$form_section1} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_section1_c1}
<td
	{$cell_section1_c1}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="section1_c1" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN rua_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_rua}  r-vertical-field" 
	data-fieldname="rua" 
	data-signal-error-for="rua{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field20" {$item_integrated_edit_field20} data-pageid="{$pageid}" data-field="rua" >


	<label class="r-edit-label control-label" for="{$labelfor_rua}">
		{BEGIN rua_label}{$label usuarios rua }{END rua_label}
	</label>
	<div class="r-edit-field">
		{$rua_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="rua">
		<div class="text-muted" >
		{$tooltip usuarios rua }		</div>
	</div>
</div>


{END rua_fieldblock}
											
{BEGIN numero_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_numero}  r-vertical-field" 
	data-fieldname="numero" 
	data-signal-error-for="numero{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field21" {$item_integrated_edit_field21} data-pageid="{$pageid}" data-field="numero" >


	<label class="r-edit-label control-label" for="{$labelfor_numero}">
		{BEGIN numero_label}{$label usuarios numero }{END numero_label}
	</label>
	<div class="r-edit-field">
		{$numero_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="numero">
		<div class="text-muted" >
		{$tooltip usuarios numero }		</div>
	</div>
</div>


{END numero_fieldblock}
											
{BEGIN complemento_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_complemento}  r-vertical-field" 
	data-fieldname="complemento" 
	data-signal-error-for="complemento{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field22" {$item_integrated_edit_field22} data-pageid="{$pageid}" data-field="complemento" >


	<label class="r-edit-label control-label" for="{$labelfor_complemento}">
		{BEGIN complemento_label}{$label usuarios complemento }{END complemento_label}
	</label>
	<div class="r-edit-field">
		{$complemento_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="complemento">
		<div class="text-muted" >
		{$tooltip usuarios complemento }		</div>
	</div>
</div>


{END complemento_fieldblock}
											
{BEGIN municipio_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_municipio}  r-vertical-field" 
	data-fieldname="municipio" 
	data-signal-error-for="municipio{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field18" {$item_integrated_edit_field18} data-pageid="{$pageid}" data-field="municipio" >


	<label class="r-edit-label control-label" for="{$labelfor_municipio}">
		{BEGIN municipio_label}{$label usuarios municipio }{END municipio_label}
	</label>
	<div class="r-edit-field">
		{$municipio_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="municipio">
		<div class="text-muted" >
		{$tooltip usuarios municipio }		</div>
	</div>
</div>


{END municipio_fieldblock}
											
{BEGIN estado_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_estado}  r-vertical-field" 
	data-fieldname="estado" 
	data-signal-error-for="estado{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="estado" >


	<label class="r-edit-label control-label" for="{$labelfor_estado}">
		{BEGIN estado_label}{$label usuarios estado }{END estado_label}
	</label>
	<div class="r-edit-field">
		{$estado_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="estado">
		<div class="text-muted" >
		{$tooltip usuarios estado }		</div>
	</div>
</div>


{END estado_fieldblock}
											
{BEGIN pais_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_pais}  r-vertical-field" 
	data-fieldname="pais" 
	data-signal-error-for="pais{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="pais" >


	<label class="r-edit-label control-label" for="{$labelfor_pais}">
		{BEGIN pais_label}{$label usuarios pais }{END pais_label}
	</label>
	<div class="r-edit-field">
		{$pais_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="pais">
		<div class="text-muted" >
		{$tooltip usuarios pais }		</div>
	</div>
</div>


{END pais_fieldblock}
											
{BEGIN cep_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cep}  r-vertical-field" 
	data-fieldname="cep" 
	data-signal-error-for="cep{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field19" {$item_integrated_edit_field19} data-pageid="{$pageid}" data-field="cep" >


	<label class="r-edit-label control-label" for="{$labelfor_cep}">
		{BEGIN cep_label}{$label usuarios cep }{END cep_label}
	</label>
	<div class="r-edit-field">
		{$cep_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cep">
		<div class="text-muted" >
		{$tooltip usuarios cep }		</div>
	</div>
</div>


{END cep_fieldblock}
	
								</td>
			{END cellblock_section1_c1}
								</tr>
			</tbody></table>
{END section1_block}
						</div>
					<div role="tabpanel" class="tab-pane " id="tab_section2{$pageid}"> 
			{BEGIN section2_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section2" id="form_section2_{$pageid}" data-makeup="small" {$form_section2} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_section2_c1}
<td
	{$cell_section2_c1}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="section2_c1" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN telefone_celular_principal_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_telefone_celular_principal}  r-vertical-field" 
	data-fieldname="telefone_celular_principal" 
	data-signal-error-for="telefone_celular_principal{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field23" {$item_integrated_edit_field23} data-pageid="{$pageid}" data-field="telefone_celular_principal" >


	<label class="r-edit-label control-label" for="{$labelfor_telefone_celular_principal}">
		{BEGIN telefone_celular_principal_label}{$label usuarios telefone_celular_principal }{END telefone_celular_principal_label}
	</label>
	<div class="r-edit-field">
		{$telefone_celular_principal_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="telefone_celular_principal">
		<div class="text-muted" >
		{$tooltip usuarios telefone_celular_principal }		</div>
	</div>
</div>


{END telefone_celular_principal_fieldblock}
											
{BEGIN telefone_celular_secundario_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_telefone_celular_secundario}  r-vertical-field" 
	data-fieldname="telefone_celular_secundario" 
	data-signal-error-for="telefone_celular_secundario{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field24" {$item_integrated_edit_field24} data-pageid="{$pageid}" data-field="telefone_celular_secundario" >


	<label class="r-edit-label control-label" for="{$labelfor_telefone_celular_secundario}">
		{BEGIN telefone_celular_secundario_label}{$label usuarios telefone_celular_secundario }{END telefone_celular_secundario_label}
	</label>
	<div class="r-edit-field">
		{$telefone_celular_secundario_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="telefone_celular_secundario">
		<div class="text-muted" >
		{$tooltip usuarios telefone_celular_secundario }		</div>
	</div>
</div>


{END telefone_celular_secundario_fieldblock}
											
{BEGIN telefone_comercial_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_telefone_comercial}  r-vertical-field" 
	data-fieldname="telefone_comercial" 
	data-signal-error-for="telefone_comercial{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field26" {$item_integrated_edit_field26} data-pageid="{$pageid}" data-field="telefone_comercial" >


	<label class="r-edit-label control-label" for="{$labelfor_telefone_comercial}">
		{BEGIN telefone_comercial_label}{$label usuarios telefone_comercial }{END telefone_comercial_label}
	</label>
	<div class="r-edit-field">
		{$telefone_comercial_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="telefone_comercial">
		<div class="text-muted" >
		{$tooltip usuarios telefone_comercial }		</div>
	</div>
</div>


{END telefone_comercial_fieldblock}
											
{BEGIN telefone_residencial_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_telefone_residencial}  r-vertical-field" 
	data-fieldname="telefone_residencial" 
	data-signal-error-for="telefone_residencial{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field25" {$item_integrated_edit_field25} data-pageid="{$pageid}" data-field="telefone_residencial" >


	<label class="r-edit-label control-label" for="{$labelfor_telefone_residencial}">
		{BEGIN telefone_residencial_label}{$label usuarios telefone_residencial }{END telefone_residencial_label}
	</label>
	<div class="r-edit-field">
		{$telefone_residencial_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="telefone_residencial">
		<div class="text-muted" >
		{$tooltip usuarios telefone_residencial }		</div>
	</div>
</div>


{END telefone_residencial_fieldblock}
	
								</td>
			{END cellblock_section2_c1}
								</tr>
			</tbody></table>
{END section2_block}
						</div>
				</div>
	</div>
</div>  											<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN idEmpresa_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_idEmpresa}  r-vertical-field" 
	data-fieldname="idEmpresa" 
	data-signal-error-for="idEmpresa{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="idEmpresa" >


	<label class="r-edit-label control-label" for="{$labelfor_idEmpresa}">
		{BEGIN idEmpresa_label}{$label usuarios idEmpresa }{END idEmpresa_label}
	</label>
	<div class="r-edit-field">
		{$idEmpresa_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="idEmpresa">
		<div class="text-muted" >
		{$tooltip usuarios idEmpresa }		</div>
	</div>
</div>


{END idEmpresa_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN save_edit}
<span data-itemtype="edit_save" data-itemid="edit_save" {$item_edit_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Salvar			</a>
</span>
{END save_edit}
	 
		{BEGIN back_button}
<span data-itemtype="edit_back_list" data-itemid="edit_back_list" {$item_edit_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Voltar à Lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="edit_close" data-itemid="edit_close" {$item_edit_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$closebutton_attrs} >
							Cancela			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-menu-hamburger"></span>
									<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="edit_reset" data-itemid="edit_reset" {$item_edit_reset} data-pageid="{$pageid}" data-small >
				<a  {$resetbutton_attrs}  title="" >
				
		Limpar		
		</a>
	</li>
							{BEGIN view_page_button}
	<li data-itemtype="edit_view" data-itemid="edit_view" {$item_edit_view} data-pageid="{$pageid}" data-small >
				<a  href="usuarios_view.php?{$editlink}" {$view_page_button_attrs}  title="" >
				
		Exibir		
		</a>
	</li>
{END view_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
