[data-cellid="grid_footcell_field"][data-page="fluxo_de_recebimentos_list"][data-cellid="grid_footcell_field"][data-page="fluxo_de_recebimentos_list"][data-cellid="grid_footcell_field"][data-page="fluxo_de_recebimentos_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="fluxo_de_recebimentos_list"][data-cellid="grid_footcell_field1"][data-page="fluxo_de_recebimentos_list"][data-cellid="grid_footcell_field1"][data-page="fluxo_de_recebimentos_list"] {
  white-space: nowrap;
}
[data-page="fluxo_de_recebimentos_list"][data-itemid="text"] {
  color: #ffffff;
  font-weight: bold;
}


