<!doctype html><p align=center><font size=+1 color=red></font></p>
<p align=center><font size=+1 color=red></font></p>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel adm_agenda_1 search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN age_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_age_id}  r-horizontal-field form-horizontal" 
	
		data-fieldname="age_id" 
	
	data-signal-error-for="age_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="age_id" >


	<label class="r-search-label control-label" for="{$labelfor_age_id}">
		{$label adm_agenda_1 age_id }	</label>
	<div class="r-search-option">
		{$searchtype_age_id}
	</div>
	<div class="r-search-field">
		{$age_id_editcontrol}	</div>
	<div class="r-search-field">
		{$age_id_editcontrol1}
	</div>
	
</div>

{END age_id_fieldblock}
											
{BEGIN age_usu_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_age_usu_id}  r-horizontal-field form-horizontal" 
	
		data-fieldname="age_usu_id" 
	
	data-signal-error-for="age_usu_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="age_usu_id" >


	<label class="r-search-label control-label" for="{$labelfor_age_usu_id}">
		{$label adm_agenda_1 age_usu_id }	</label>
	<div class="r-search-option">
		{$searchtype_age_usu_id}
	</div>
	<div class="r-search-field">
		{$age_usu_id_editcontrol}	</div>
	<div class="r-search-field">
		{$age_usu_id_editcontrol1}
	</div>
	
</div>

{END age_usu_id_fieldblock}
											
{BEGIN age_config_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_age_config_id}  r-horizontal-field form-horizontal" 
	
		data-fieldname="age_config_id" 
	
	data-signal-error-for="age_config_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="age_config_id" >


	<label class="r-search-label control-label" for="{$labelfor_age_config_id}">
		{$label adm_agenda_1 age_config_id }	</label>
	<div class="r-search-option">
		{$searchtype_age_config_id}
	</div>
	<div class="r-search-field">
		{$age_config_id_editcontrol}	</div>
	<div class="r-search-field">
		{$age_config_id_editcontrol1}
	</div>
	
</div>

{END age_config_id_fieldblock}
											
{BEGIN age_dia_sem_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_age_dia_sem}  r-horizontal-field form-horizontal" 
	
		data-fieldname="age_dia_sem" 
	
	data-signal-error-for="age_dia_sem{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="age_dia_sem" >


	<label class="r-search-label control-label" for="{$labelfor_age_dia_sem}">
		{$label adm_agenda_1 age_dia_sem }	</label>
	<div class="r-search-option">
		{$searchtype_age_dia_sem}
	</div>
	<div class="r-search-field">
		{$age_dia_sem_editcontrol}	</div>
	<div class="r-search-field">
		{$age_dia_sem_editcontrol1}
	</div>
	
</div>

{END age_dia_sem_fieldblock}
											
{BEGIN age_data_att_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_age_data_att}  r-horizontal-field form-horizontal" 
	
		data-fieldname="age_data_att" 
	
	data-signal-error-for="age_data_att{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="age_data_att" >


	<label class="r-search-label control-label" for="{$labelfor_age_data_att}">
		{$label adm_agenda_1 age_data_att }	</label>
	<div class="r-search-option">
		{$searchtype_age_data_att}
	</div>
	<div class="r-search-field">
		{$age_data_att_editcontrol}	</div>
	<div class="r-search-field">
		{$age_data_att_editcontrol1}
	</div>
	
</div>

{END age_data_att_fieldblock}
											
{BEGIN age_time_att_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_age_time_att}  r-horizontal-field form-horizontal" 
	
		data-fieldname="age_time_att" 
	
	data-signal-error-for="age_time_att{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="age_time_att" >


	<label class="r-search-label control-label" for="{$labelfor_age_time_att}">
		{$label adm_agenda_1 age_time_att }	</label>
	<div class="r-search-option">
		{$searchtype_age_time_att}
	</div>
	<div class="r-search-field">
		{$age_time_att_editcontrol}	</div>
	<div class="r-search-field">
		{$age_time_att_editcontrol1}
	</div>
	
</div>

{END age_time_att_fieldblock}
											
{BEGIN age_data_in_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_age_data_in}  r-horizontal-field form-horizontal" 
	
		data-fieldname="age_data_in" 
	
	data-signal-error-for="age_data_in{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="age_data_in" >


	<label class="r-search-label control-label" for="{$labelfor_age_data_in}">
		{$label adm_agenda_1 age_data_in }	</label>
	<div class="r-search-option">
		{$searchtype_age_data_in}
	</div>
	<div class="r-search-field">
		{$age_data_in_editcontrol}	</div>
	<div class="r-search-field">
		{$age_data_in_editcontrol1}
	</div>
	
</div>

{END age_data_in_fieldblock}
											
{BEGIN age_acao_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_age_acao}  r-horizontal-field form-horizontal" 
	
		data-fieldname="age_acao" 
	
	data-signal-error-for="age_acao{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="age_acao" >


	<label class="r-search-label control-label" for="{$labelfor_age_acao}">
		{$label adm_agenda_1 age_acao }	</label>
	<div class="r-search-option">
		{$searchtype_age_acao}
	</div>
	<div class="r-search-field">
		{$age_acao_editcontrol}	</div>
	<div class="r-search-field">
		{$age_acao_editcontrol1}
	</div>
	
</div>

{END age_acao_fieldblock}
											
{BEGIN age_retorno_data_time_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_age_retorno_data_time}  r-horizontal-field form-horizontal" 
	
		data-fieldname="age_retorno_data_time" 
	
	data-signal-error-for="age_retorno_data_time{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="age_retorno_data_time" >


	<label class="r-search-label control-label" for="{$labelfor_age_retorno_data_time}">
		{$label adm_agenda_1 age_retorno_data_time }	</label>
	<div class="r-search-option">
		{$searchtype_age_retorno_data_time}
	</div>
	<div class="r-search-field">
		{$age_retorno_data_time_editcontrol}	</div>
	<div class="r-search-field">
		{$age_retorno_data_time_editcontrol1}
	</div>
	
</div>

{END age_retorno_data_time_fieldblock}
											
{BEGIN age_tipo_pagamento_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_age_tipo_pagamento}  r-horizontal-field form-horizontal" 
	
		data-fieldname="age_tipo_pagamento" 
	
	data-signal-error-for="age_tipo_pagamento{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="age_tipo_pagamento" >


	<label class="r-search-label control-label" for="{$labelfor_age_tipo_pagamento}">
		{$label adm_agenda_1 age_tipo_pagamento }	</label>
	<div class="r-search-option">
		{$searchtype_age_tipo_pagamento}
	</div>
	<div class="r-search-field">
		{$age_tipo_pagamento_editcontrol}	</div>
	<div class="r-search-field">
		{$age_tipo_pagamento_editcontrol1}
	</div>
	
</div>

{END age_tipo_pagamento_fieldblock}
											
{BEGIN age_anotacoes_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_age_anotacoes}  r-horizontal-field form-horizontal" 
	
		data-fieldname="age_anotacoes" 
	
	data-signal-error-for="age_anotacoes{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="age_anotacoes" >


	<label class="r-search-label control-label" for="{$labelfor_age_anotacoes}">
		{$label adm_agenda_1 age_anotacoes }	</label>
	<div class="r-search-option">
		{$searchtype_age_anotacoes}
	</div>
	<div class="r-search-field">
		{$age_anotacoes_editcontrol}	</div>
	<div class="r-search-field">
		{$age_anotacoes_editcontrol1}
	</div>
	
</div>

{END age_anotacoes_fieldblock}
											
{BEGIN age_att_campo_1_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_age_att_campo_1}  r-horizontal-field form-horizontal" 
	
		data-fieldname="age_att_campo_1" 
	
	data-signal-error-for="age_att_campo_1{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="age_att_campo_1" >


	<label class="r-search-label control-label" for="{$labelfor_age_att_campo_1}">
		{$label adm_agenda_1 age_att_campo_1 }	</label>
	<div class="r-search-option">
		{$searchtype_age_att_campo_1}
	</div>
	<div class="r-search-field">
		{$age_att_campo_1_editcontrol}	</div>
	<div class="r-search-field">
		{$age_att_campo_1_editcontrol1}
	</div>
	
</div>

{END age_att_campo_1_fieldblock}
											
{BEGIN age_att_campo_2_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_age_att_campo_2}  r-horizontal-field form-horizontal" 
	
		data-fieldname="age_att_campo_2" 
	
	data-signal-error-for="age_att_campo_2{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="age_att_campo_2" >


	<label class="r-search-label control-label" for="{$labelfor_age_att_campo_2}">
		{$label adm_agenda_1 age_att_campo_2 }	</label>
	<div class="r-search-option">
		{$searchtype_age_att_campo_2}
	</div>
	<div class="r-search-field">
		{$age_att_campo_2_editcontrol}	</div>
	<div class="r-search-field">
		{$age_att_campo_2_editcontrol1}
	</div>
	
</div>

{END age_att_campo_2_fieldblock}
											
{BEGIN age_att_campo_3_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_age_att_campo_3}  r-horizontal-field form-horizontal" 
	
		data-fieldname="age_att_campo_3" 
	
	data-signal-error-for="age_att_campo_3{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="age_att_campo_3" >


	<label class="r-search-label control-label" for="{$labelfor_age_att_campo_3}">
		{$label adm_agenda_1 age_att_campo_3 }	</label>
	<div class="r-search-option">
		{$searchtype_age_att_campo_3}
	</div>
	<div class="r-search-field">
		{$age_att_campo_3_editcontrol}	</div>
	<div class="r-search-field">
		{$age_att_campo_3_editcontrol1}
	</div>
	
</div>

{END age_att_campo_3_fieldblock}
											
{BEGIN age_att_campo_4_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_age_att_campo_4}  r-horizontal-field form-horizontal" 
	
		data-fieldname="age_att_campo_4" 
	
	data-signal-error-for="age_att_campo_4{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="age_att_campo_4" >


	<label class="r-search-label control-label" for="{$labelfor_age_att_campo_4}">
		{$label adm_agenda_1 age_att_campo_4 }	</label>
	<div class="r-search-option">
		{$searchtype_age_att_campo_4}
	</div>
	<div class="r-search-field">
		{$age_att_campo_4_editcontrol}	</div>
	<div class="r-search-field">
		{$age_att_campo_4_editcontrol1}
	</div>
	
</div>

{END age_att_campo_4_fieldblock}
											
{BEGIN age_deletado_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_age_deletado}  r-horizontal-field form-horizontal" 
	
		data-fieldname="age_deletado" 
	
	data-signal-error-for="age_deletado{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="age_deletado" >


	<label class="r-search-label control-label" for="{$labelfor_age_deletado}">
		{$label adm_agenda_1 age_deletado }	</label>
	<div class="r-search-option">
		{$searchtype_age_deletado}
	</div>
	<div class="r-search-field">
		{$age_deletado_editcontrol}	</div>
	<div class="r-search-field">
		{$age_deletado_editcontrol1}
	</div>
	
</div>

{END age_deletado_fieldblock}
											
{BEGIN age_Paciente_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_age_Paciente}  r-horizontal-field form-horizontal" 
	
		data-fieldname="age_Paciente" 
	
	data-signal-error-for="age_Paciente{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="age_Paciente" >


	<label class="r-search-label control-label" for="{$labelfor_age_Paciente}">
		{$label adm_agenda_1 age_Paciente }	</label>
	<div class="r-search-option">
		{$searchtype_age_Paciente}
	</div>
	<div class="r-search-field">
		{$age_Paciente_editcontrol}	</div>
	<div class="r-search-field">
		{$age_Paciente_editcontrol1}
	</div>
	
</div>

{END age_Paciente_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Limpar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Voltar à Lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancela			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
