<!doctype html><p align=center><font size=+1 color=red></font></p>
<p align=center><font size=+1 color=red></font></p>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel adm_plano_profissional search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN pla_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_pla_id}  r-horizontal-field form-horizontal" 
	
		data-fieldname="pla_id" 
	
	data-signal-error-for="pla_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="pla_id" >


	<label class="r-search-label control-label" for="{$labelfor_pla_id}">
		{$label adm_plano_profissional pla_id }	</label>
	<div class="r-search-option">
		{$searchtype_pla_id}
	</div>
	<div class="r-search-field">
		{$pla_id_editcontrol}	</div>
	<div class="r-search-field">
		{$pla_id_editcontrol1}
	</div>
	
</div>

{END pla_id_fieldblock}
											
{BEGIN pla_tipo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_pla_tipo}  r-horizontal-field form-horizontal" 
	
		data-fieldname="pla_tipo" 
	
	data-signal-error-for="pla_tipo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="pla_tipo" >


	<label class="r-search-label control-label" for="{$labelfor_pla_tipo}">
		{$label adm_plano_profissional pla_tipo }	</label>
	<div class="r-search-option">
		{$searchtype_pla_tipo}
	</div>
	<div class="r-search-field">
		{$pla_tipo_editcontrol}	</div>
	<div class="r-search-field">
		{$pla_tipo_editcontrol1}
	</div>
	
</div>

{END pla_tipo_fieldblock}
											
{BEGIN pla_nome_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_pla_nome}  r-horizontal-field form-horizontal" 
	
		data-fieldname="pla_nome" 
	
	data-signal-error-for="pla_nome{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="pla_nome" >


	<label class="r-search-label control-label" for="{$labelfor_pla_nome}">
		{$label adm_plano_profissional pla_nome }	</label>
	<div class="r-search-option">
		{$searchtype_pla_nome}
	</div>
	<div class="r-search-field">
		{$pla_nome_editcontrol}	</div>
	<div class="r-search-field">
		{$pla_nome_editcontrol1}
	</div>
	
</div>

{END pla_nome_fieldblock}
											
{BEGIN pla_pro_grupo_nome_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_pla_pro_grupo_nome}  r-horizontal-field form-horizontal" 
	
		data-fieldname="pla_pro_grupo_nome" 
	
	data-signal-error-for="pla_pro_grupo_nome{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="pla_pro_grupo_nome" >


	<label class="r-search-label control-label" for="{$labelfor_pla_pro_grupo_nome}">
		{$label adm_plano_profissional pla_pro_grupo_nome }	</label>
	<div class="r-search-option">
		{$searchtype_pla_pro_grupo_nome}
	</div>
	<div class="r-search-field">
		{$pla_pro_grupo_nome_editcontrol}	</div>
	<div class="r-search-field">
		{$pla_pro_grupo_nome_editcontrol1}
	</div>
	
</div>

{END pla_pro_grupo_nome_fieldblock}
											
{BEGIN pla_tempo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_pla_tempo}  r-horizontal-field form-horizontal" 
	
		data-fieldname="pla_tempo" 
	
	data-signal-error-for="pla_tempo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="pla_tempo" >


	<label class="r-search-label control-label" for="{$labelfor_pla_tempo}">
		{$label adm_plano_profissional pla_tempo }	</label>
	<div class="r-search-option">
		{$searchtype_pla_tempo}
	</div>
	<div class="r-search-field">
		{$pla_tempo_editcontrol}	</div>
	<div class="r-search-field">
		{$pla_tempo_editcontrol1}
	</div>
	
</div>

{END pla_tempo_fieldblock}
											
{BEGIN pla_parcelas_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_pla_parcelas}  r-horizontal-field form-horizontal" 
	
		data-fieldname="pla_parcelas" 
	
	data-signal-error-for="pla_parcelas{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="pla_parcelas" >


	<label class="r-search-label control-label" for="{$labelfor_pla_parcelas}">
		{$label adm_plano_profissional pla_parcelas }	</label>
	<div class="r-search-option">
		{$searchtype_pla_parcelas}
	</div>
	<div class="r-search-field">
		{$pla_parcelas_editcontrol}	</div>
	<div class="r-search-field">
		{$pla_parcelas_editcontrol1}
	</div>
	
</div>

{END pla_parcelas_fieldblock}
											
{BEGIN pla_finalizacao_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_pla_finalizacao}  r-horizontal-field form-horizontal" 
	
		data-fieldname="pla_finalizacao" 
	
	data-signal-error-for="pla_finalizacao{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="pla_finalizacao" >


	<label class="r-search-label control-label" for="{$labelfor_pla_finalizacao}">
		{$label adm_plano_profissional pla_finalizacao }	</label>
	<div class="r-search-option">
		{$searchtype_pla_finalizacao}
	</div>
	<div class="r-search-field">
		{$pla_finalizacao_editcontrol}	</div>
	<div class="r-search-field">
		{$pla_finalizacao_editcontrol1}
	</div>
	
</div>

{END pla_finalizacao_fieldblock}
											
{BEGIN pla_obs_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_pla_obs}  r-horizontal-field form-horizontal" 
	
		data-fieldname="pla_obs" 
	
	data-signal-error-for="pla_obs{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="pla_obs" >


	<label class="r-search-label control-label" for="{$labelfor_pla_obs}">
		{$label adm_plano_profissional pla_obs }	</label>
	<div class="r-search-option">
		{$searchtype_pla_obs}
	</div>
	<div class="r-search-field">
		{$pla_obs_editcontrol}	</div>
	<div class="r-search-field">
		{$pla_obs_editcontrol1}
	</div>
	
</div>

{END pla_obs_fieldblock}
											
{BEGIN pla_deletado_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_pla_deletado}  r-horizontal-field form-horizontal" 
	
		data-fieldname="pla_deletado" 
	
	data-signal-error-for="pla_deletado{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="pla_deletado" >


	<label class="r-search-label control-label" for="{$labelfor_pla_deletado}">
		{$label adm_plano_profissional pla_deletado }	</label>
	<div class="r-search-option">
		{$searchtype_pla_deletado}
	</div>
	<div class="r-search-field">
		{$pla_deletado_editcontrol}	</div>
	<div class="r-search-field">
		{$pla_deletado_editcontrol1}
	</div>
	
</div>

{END pla_deletado_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Limpar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Voltar à Lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancela			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
