<!doctype html><p align=center><font size=+1 color=red></font></p>
<p align=center><font size=+1 color=red></font></p>
<html  {$html_attrs}>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {$pagetitle}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <base href="{$projectPath}">
    <link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
    {BEGIN rtlCSS}
      <link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
    {END rtlCSS}
    {BEGIN styleCSSFiles}
      <link REL="stylesheet" href="{$stylepath}" type="text/css">
    {END styleCSSFiles}
  </head>
  <BODY class="{$stylename} function-list" {$bodyattrs}>
    {BEGIN body}
      <style>
        {$containerCss}
      </style>
      <DIV class="r-vbar-page">
        <DIV data-width data-fixed class="r-left clearfix {$leftbar_class}">
          <div data-location="left" id="form_left_{$pageid}" data-makeup="leftbar" {$form_left} data-pageid="{$pageid}">
            {BEGIN left_block}
              <DIV data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell class="clearfix r-ori-vert" data-itemid="logo1" {$item_logo1}>
                {BEGIN logo_block}
                  <A data-itemtype="logo" data-itemid="logo1" {$item_logo1} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
                    {$logo}
                  </A>
                {END logo_block}
                <BUTTON data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">
                  <SPAN class="sr-only">
                    Toggle navigation
                  </span>
                  <SPAN class="icon-bar">
                  </span>
                </button>
              </div>
              <DIV data-cellId="left_c1" data-pageid="{$pageid}" class="clearfix r-ori-vert" data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
                {$menu main}
              </div>
            {END left_block}
          </div>
        </div>
        <DIV class="r-content-col" data-resize-left="leftbar">
          <DIV class="r-topheader" data-resize-name="topbar">
            {BEGIN supertop_block}
              <NAV class="navbar navbar-default" data-location="supertop" id="form_supertop_{$pageid}" data-makeup="leftbar" {$form_supertop} data-pageid="{$pageid}">
                <SPAN class="navbar-form navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="collapse_button" {$item_collapse_button} data-topcell-item-type="collapse_button">
                  <span data-itemtype="collapse_button" data-itemid="collapse_button" {$item_collapse_button} data-pageid="{$pageid}" data-small data-button-item>
                    <A type="button" title="Collapse" class="btn-link glyphicon glyphicon-triangle-left" href="#">
                    </a>
                  </span>
                </span>
                <SPAN class="navbar-form navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="breadcrumb" {$item_breadcrumb} data-topcell-item-type="breadcrumb">
                  {BEGIN breadcrumb}
                    <OL class="breadcrumb" data-itemtype="breadcrumb" data-itemid="breadcrumb" {$item_breadcrumb} data-pageid="{$pageid}">
                      <li >
                        <a href="{$crumb_home_link}">
                          <SPAN class="glyphicon glyphicon-home">
                          </span>
                        </a>
                        {$crumb_dropdown}
                      </li>
                      {BEGIN crumb}
                        <LI class="{$crumb_item_class}">
                          {BEGIN crumb_title_link}
                            <a {$crumb_attrs}>
                              {$crumb_title}
                            </a>
                          {END crumb_title_link}
                          {BEGIN crumb_title_span}
                            <span {$crumb_attrs}>
                              {$crumb_title}
                            </span>
                          {END crumb_title_span}
                          {$crumb_dropdown}
                        </li>
                      {END crumb}
                    </ol>
                  {END breadcrumb}
                </span>
                <SPAN class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="simple_search" {$item_simple_search} data-topcell-item-type="simple_search">
                  <SPAN data-itemtype="simple_search" data-itemid="simple_search" {$item_simple_search} data-pageid="{$pageid}" class="form-group">
                    <DIV class="input-group">
                      {BEGIN searchform_text}
                        <INPUT type="search" class="form-control" {$searchfor_attrs} size="25">
                      {END searchform_text}
                      <SPAN class="input-group-btn">
                        {BEGIN searchform_showall}
                          <BUTTON class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs} title="Mostrar Todos">
                            <SPAN class="glyphicon glyphicon-remove">
                            </span>
                          </button>
                        {END searchform_showall}
                        {BEGIN searchform_search}
                          <BUTTON {$searchbutton_attrs} class="btn btn-primary">
                            <SPAN class="glyphicon glyphicon-search">
                            </span>
                          </button>
                        {END searchform_search}
                      </span>
                    </div>
                  </span>
                </span>
                <SPAN class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="list_options" {$item_list_options} data-topcell-item-type="list_options">
                  <span data-itemtype="list_options" data-itemid="list_options" {$item_list_options} data-pageid="{$pageid}" data-small data-button-item>
                    <SPAN class="dropdown">
                      <BUTTON type="button" title class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <SPAN class="glyphicon glyphicon-cog">
                        </span>
                        <SPAN class="caret">
                        </span>
                      </button>
                      <UL class="dropdown-menu">
                        <li data-itemtype="advsearch_link" data-itemid="advsearch_link" {$item_advsearch_link} data-pageid="{$pageid}" data-small >
                          <a   href="usuarios_search.php{$stateLink_full}" {$advsearchlink_attrs}  title="" >
                            Busca Avancada
                          </a>
                        </li>
                      </ul>
                    </span>
                  </span>
                </span>
                <SPAN class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login">
                  {BEGIN guestloginbutton}
                    <span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
                      <A type="button" title class="btn btn-primary" href="#" {$guestloginlink_attrs}>
                        Login
                      </a>
                    </span>
                  {END guestloginbutton}
                </span>
                <SPAN class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button">
                  {BEGIN loggedas_message}
                    <span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
                      <SPAN class="dropdown">
                        <BUTTON type="button" title class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <SPAN class="glyphicon glyphicon-user">
                          </span>
                          {$username}
                          <SPAN class="caret">
                          </span>
                        </button>
                        <UL class="dropdown-menu">
                          {BEGIN logoutbutton}
                            <li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
                              <a  href="#" {$logoutlink_attrs}  title="" >
                                Log Out
                              </a>
                            </li>
                          {END logoutbutton}
                        </ul>
                      </span>
                    </span>
                  {END loggedas_message}
                </span>
              </nav>
            {END supertop_block}
            {$locking}
          </div>
          <DIV class="r-body" data-resize-top="topbar" data-body-width="standard">
            {$header}
            <DIV class="r-top">
              {BEGIN top_block}
                <DIV class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="leftbar" {$form_top} data-pageid="{$pageid}">
                </div>
              {END top_block}
            </div>
            <DIV class="r-above">
              {BEGIN above-grid_block}
                <DIV class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="leftbar" {$form_above-grid} data-pageid="{$pageid}">
                  <DIV class="row">
                    <DIV data-cellId="above-grid_c1" data-pageid="{$pageid}" {$cell_above-grid_c1} class="r-ori-vert col-md-6">
                      {BEGIN firstAboveGridCell}
                      {END firstAboveGridCell}
                    </div>
                    <DIV data-cellId="above-grid_c2" data-pageid="{$pageid}" {$cell_above-grid_c2} class="r-align-right r-ori-vert col-md-6">
                      {BEGIN print_friendly}
                        <span id="printpanelblock{$id}"  data-pageid="{$pageid}" {$printpanel_hiddenattr} data-itemtype="print_panel" data-itemid="print_panel" {$item_print_panel} data-pageid="{$pageid}">
                          <BUTTON title="Página Print-friendly" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <SPAN class="glyphicon glyphicon-print">
                            </span>
                            <SPAN class="caret">
                            </span>
                          </button>
                          <UL class="dropdown-menu pull-right">
                            <LI class="container-fluid">
                              {BEGIN print_details}
                                <div>
                                  <label for="printDetailsToggler{$id}">
                                    <input type="checkbox" id="printDetailsToggler{$id}">
                                    Imprimir detalhes
                                  </label>
                                  <div  id="printdetailstables{$id}" style="display:none;">
                                    {BEGIN print_details_meuplano}
                                      <div>
                                        <label for="printDetailsmeuplano{$id}">
                                          <input type="checkbox" value="meuplano" id="printDetailsmeuplano{$id}" checked>
                                          Meu Plano
                                        </label>
                                      </div>
                                    {END print_details_meuplano}
                                    {BEGIN print_details_usuarios_dados_profissionais}
                                      <div>
                                        <label for="printDetailsusuarios_dados_profissionais{$id}">
                                          <input type="checkbox" value="usuarios_dados_profissionais" id="printDetailsusuarios_dados_profissionais{$id}" checked>
                                          Dados Profissionais
                                        </label>
                                      </div>
                                    {END print_details_usuarios_dados_profissionais}
                                  </div>
                                </div>
                              {END print_details}
                            </li>
                          </ul>
                        </span>
                      {END print_friendly}
                    </div>
                  </div>
                </div>
              {END above-grid_block}
            </div>
            <DIV class="r-grid">
              {BEGIN grid_block}
                {BEGIN grid_tabs}
                  <UL class="nav nav-tabs bsgrid_tabs">
                    {$grid_tabs_content}
                  </ul>
                {END grid_tabs}
                {BEGIN message_block}
                  <DIV data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>
                    {$message}
                  </div>
                {END message_block}
                <style>
                  @media screen and (max-width: 767px) {
                  [data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="nome"]:before {
                  content: "{$label usuarios nome}";
                  }
                  [data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="email"]:before {
                  content: "{$label usuarios email}";
                  }
                  [data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="avatar"]:before {
                  content: "{$label usuarios avatar}";
                  }
                  }
                </style>
                <TABLE data-location="grid" id="form_grid_{$pageid}" data-makeup="leftbar" {$form_grid} data-pageid="{$pageid}" class="table {$grid_classes} r-flexgrid rnr-b-grid rnr-gridtable" cellpadding="0" data-body-height="3">
                  <thead>
                    {BEGIN grid_header}
                      <TR {$rowattrs} {$row_grid_0} class="{$rowclass} {$gridHeader_class} r-gridrow">
                        {BEGIN cellblock_grid_headcell_icons}
                          <TH {$cell_grid_headcell_icons} {$recordattrs} class="r-ori-vert" data-cellId="grid_headcell_icons" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="usuarios_list" data-control-cell>
                          </th>
                        {END cellblock_grid_headcell_icons}
                        {BEGIN cellblock_grid_headcell_details}
                          <TH {$cell_grid_headcell_details} {$recordattrs} class="r-ori-vert {$avatar_class}" data-field="avatar" data-cellId="grid_headcell_details" data-pageid="{$pageid}" data-record-id="{$recId}">
                            {BEGIN avatar_fieldheadercolumn}
                              <span data-itemtype="grid_field_label" data-itemid="simple_grid_field32" {$item_simple_grid_field32} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="avatar">
                                {$label usuarios avatar}
                              </span>
                            {END avatar_fieldheadercolumn}
                          </th>
                        {END cellblock_grid_headcell_details}
                        {BEGIN cellblock_grid_headcell_field}
                          <TH {$cell_grid_headcell_field} {$recordattrs} class="r-ori-vert {$nome_class}" data-field="nome" data-cellId="grid_headcell_field" data-pageid="{$pageid}" data-record-id="{$recId}">
                            {BEGIN nome_fieldheadercolumn}
                              <span data-itemtype="grid_field_label" data-itemid="simple_grid_field30" {$item_simple_grid_field30} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="nome">
                                {$label usuarios nome}
                              </span>
                            {END nome_fieldheadercolumn}
                          </th>
                        {END cellblock_grid_headcell_field}
                        {BEGIN cellblock_grid_headcell_field2}
                          <TH {$cell_grid_headcell_field2} {$recordattrs} class="r-ori-vert {$email_class}" data-field="email" data-cellId="grid_headcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}">
                            {BEGIN email_fieldheadercolumn}
                              <span data-itemtype="grid_field_label" data-itemid="simple_grid_field31" {$item_simple_grid_field31} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="email">
                                {$label usuarios email}
                              </span>
                            {END email_fieldheadercolumn}
                          </th>
                        {END cellblock_grid_headcell_field2}
                      </tr>
                    {END grid_header}
                  </thead>
                  <tbody>
                    {BEGIN grid_row}
                      <TR {$rowattrs} {$row_grid_1} class="{$rowclass} r-gridrow">
                        {BEGIN cellblock_grid_cell_icons}
                          <TD {$cell_grid_cell_icons} {$recordattrs} class="r-ori-vert" data-cellId="grid_cell_icons" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="usuarios_list" data-control-cell>
                            {BEGIN edit_column}
                              {BEGIN edit_link}
                                <span data-itemtype="grid_edit" data-itemid="grid_edit" {$item_grid_edit} data-pageid="{$pageid}" data-record-id="{$recId}" data-small data-button-item>
                                  <A type="button" title="Completar meu Cadastro" class="btn-link glyphicon glyphicon-user" href="usuarios_edit.php?{$editlink}" {$editlink_attrs} title="Editar" data-popup>
                                    
                                  </a>
Completar os meus dados
                                </span>
                              {END edit_link}
                            {END edit_column}
                          </td>
                        {END cellblock_grid_cell_icons}
                        {BEGIN cellblock_grid_cell_details}
                          <TD {$cell_grid_cell_details} {$recordattrs} class="r-ori-vert {$avatar_class}" data-field="avatar" data-cellId="grid_cell_details" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="usuarios_list">
                            {BEGIN avatar_fieldcolumn}
                              <span data-itemtype="grid_field" data-itemid="simple_grid_field13" {$item_simple_grid_field13} data-pageid="{$pageid}" data-page="usuarios_list" data-record-id="{$recId}" data-field="avatar" data-default-width >
                                {$avatar_value}
                              </span>
                            {END avatar_fieldcolumn}
                          </td>
                        {END cellblock_grid_cell_details}
                        {BEGIN cellblock_grid_cell_field}
                          <TD {$cell_grid_cell_field} {$recordattrs} class="r-ori-vert {$nome_class}" data-field="nome" data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}">
                            {BEGIN nome_fieldcolumn}
                              <span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="nome" data-default-width >
                                {$nome_value}
                              </span>
                            {END nome_fieldcolumn}
                          </td>
                        {END cellblock_grid_cell_field}
                        {BEGIN cellblock_grid_cell_field2}
                          <TD {$cell_grid_cell_field2} {$recordattrs} class="r-ori-vert {$email_class}" data-field="email" data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}">
                            {BEGIN email_fieldcolumn}
                              <span data-itemtype="grid_field" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="email" data-default-width >
                                {$email_value}
                              </span>
                            {END email_fieldcolumn}
                          </td>
                        {END cellblock_grid_cell_field2}
                      </tr>
                      <TR {$rowattrs} {$row_grid_2} class="{$rowclass} r-gridrow">
                        {BEGIN cellblock_grid_cell_details1}
                          <TD {$cell_grid_cell_details1} {$recordattrs} class="r-ori-vert" data-cellId="grid_cell_details1" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="usuarios_list">
                            {BEGIN usuarios_dados_profissionais_dtable_link}
                              <span data-itemtype="grid_details_link" data-itemid="grid_details_link" {$item_grid_details_link} data-pageid="{$pageid}" data-record-id="{$recId}">
                                <a  {$usuarios_dados_profissionais_link_attrs} data-short-details="usuarios_dados_profissionais"
		 
			>
                                  Dados Profissionais
                                </a>
                              </span>
                            {END usuarios_dados_profissionais_dtable_link}
                          </td>
                        {END cellblock_grid_cell_details1}
                        {BEGIN cellblock_grid_cell_details2}
                          <TD {$cell_grid_cell_details2} {$recordattrs} class="r-ori-vert {$avatar_class}" data-field="avatar" data-cellId="grid_cell_details2" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="usuarios_list">
                            {BEGIN meuplano_dtable_link}
                              <span data-itemtype="grid_details_link" data-itemid="grid_details_link1" {$item_grid_details_link1} data-pageid="{$pageid}" data-record-id="{$recId}">
                                <a  {$meuplano_link_attrs} data-short-details="meuplano"
		 
			>
                                  Meu Plano
                                </a>
                              </span>
                            {END meuplano_dtable_link}
                          </td>
                        {END cellblock_grid_cell_details2}
                        {BEGIN cellblock_grid_cell_details3}
                          <TD {$cell_grid_cell_details3} {$recordattrs} class="r-ori-vert {$nome_class}" data-field="nome" data-cellId="grid_cell_details3" data-pageid="{$pageid}" data-record-id="{$recId}">
                          </td>
                        {END cellblock_grid_cell_details3}
                        {BEGIN cellblock_grid_cell_details4}
                          <TD {$cell_grid_cell_details4} {$recordattrs} class="r-ori-vert {$email_class}" data-field="email" data-cellId="grid_cell_details4" data-pageid="{$pageid}" data-record-id="{$recId}">
                          </td>
                        {END cellblock_grid_cell_details4}
                      </tr>
                      <TR {$rowattrs} {$row_grid_3} class="{$rowclass}">
                        {BEGIN cellblock_grid_cell_dpreview}
                          <TD {$cell_grid_cell_dpreview} {$recordattrs} class="{$email_class}" data-field="email" data-cellId="grid_cell_dpreview" data-pageid="{$pageid}" data-record-id="{$recId}">
                            <div data-itemtype="details_preview" data-itemid="details_preview" {$item_details_preview} data-pageid="{$pageid}" data-record-id="{$recId}" 
	data-orders="meuplano,usuarios_dados_profissionais"
			data-details-meuplano			data-details-usuarios_dados_profissionais	>
                              <span data-details-inside data-short-table="meuplano">
                              </span>
                              <span data-details-inside data-short-table="usuarios_dados_profissionais">
                              </span>
                              <div data-details-preview>
                              </div>
                            </div>
                          </td>
                        {END cellblock_grid_cell_dpreview}
                      </tr>
                    {END grid_row}
                  </tbody>
                  <tfoot>
                    <TR {$rowattrs} {$row_grid_4} class="{$rowclass} {$gridFooter_class} r-gridrow">
                      {BEGIN cellblock_grid_footcell_icons}
                        <TD {$cell_grid_footcell_icons} {$recordattrs} class="r-ori-vert" data-cellId="grid_footcell_icons" data-pageid="{$pageid}" data-record-id="{$recId}">
                        </td>
                      {END cellblock_grid_footcell_icons}
                      {BEGIN cellblock_grid_footcell_details}
                        <TD {$cell_grid_footcell_details} {$recordattrs} class="r-ori-vert {$avatar_class}" data-field="avatar" data-cellId="grid_footcell_details" data-pageid="{$pageid}" data-record-id="{$recId}">
                        </td>
                      {END cellblock_grid_footcell_details}
                      {BEGIN cellblock_grid_footcell_field}
                        <TD {$cell_grid_footcell_field} {$recordattrs} class="r-ori-vert {$nome_class}" data-field="nome" data-cellId="grid_footcell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="usuarios_list">
                        </td>
                      {END cellblock_grid_footcell_field}
                      {BEGIN cellblock_grid_footcell_field2}
                        <TD {$cell_grid_footcell_field2} {$recordattrs} class="r-ori-vert {$email_class}" data-field="email" data-cellId="grid_footcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="usuarios_list">
                        </td>
                      {END cellblock_grid_footcell_field2}
                    </tr>
                  </tfoot>
                </table>
              {END grid_block}
            </div>
            <DIV class="r-below">
              {BEGIN below-grid_block}
                <DIV class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="leftbar" {$form_below-grid} data-pageid="{$pageid}">
                  <DIV class="row">
                    <DIV data-cellId="below-grid_c1" data-pageid="{$pageid}" {$cell_below-grid_c1} class="r-align-center r-ori-vert col-md-12">
                      {BEGIN pagination_block}
                        <span data-itemtype="pagination" data-itemid="pagination" {$item_pagination} data-pageid="{$pageid}" >
                          {$pagination}
                        </span>
                      {END pagination_block}
                    </div>
                  </div>
                </div>
              {END below-grid_block}
            </div>
            {$footer}
          </div>
        </div>
      </div>
    {END body}
  </body>
</html>
