[data-page="busca_profissional_list"][data-itemid="text"] {
  color: #ffffff;
  font-weight: bold;
}

/* Put  your custom CSS code here */

[data-page="busca_profissional_list"][data-itemid="simple_grid_field13"] {
  color: red;
}

:img    {
    border-radius: 50%;
}
