<!doctype html>

<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>
	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<div class="r-topbar-page">
			<div data-menu-width="compact" 
				data-fixed 
				class="r-topheader" 
				data-resize-name="topbar"
				data-body-align="center"
			>
								{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="topbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span data-cellId="supertop_c1" data-pageid="{$pageid}" class=" r-ori-vert navbar-header" data-itemid="logo" {$item_logo}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</span>
							 
							 
				<span data-cellId="supertop_c2" data-pageid="{$pageid}" class=" r-ori-vert navbar-collapse" data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{$menu main horizontal}			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c3" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							Login			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c3" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
			{BEGIN userbutton_icon}							<span class="glyphicon glyphicon-user"></span>
						{END userbutton_icon}{$userbutton_image}			{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN logoutbutton}
	<li data-itemtype="userinfo_link" data-itemid="userinfo_link" {$item_userinfo_link} data-pageid="{$pageid}" data-small >
				<a  href="userinfo.php"  title="" >
				
		Perfil de usuário		
		</a>
	</li>
{END logoutbutton}
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		Log Out		
		</a>
	</li>
{END logoutbutton}
							{BEGIN changepwd_link}
	<li data-itemtype="changepassword_link" data-itemid="changepassword_link" {$item_changepassword_link} data-pageid="{$pageid}" data-small >
				<a  href="changepwd.php" {$changepwdlink_attrs} id="changePasswordButton{$id}"  title="" >
				
		Mudar senha		
		</a>
	</li>
{END changepwd_link}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
					{$locking}
			</div>	
			<div data-body-align="center"  data-body-width="standard" class="r-body" data-resize-top="topbar" >
				<div class="r-top">
								{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="topbar" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel adm_pacientes view}</h2>
	</div>					</div>
	</div>		
{END top_block}
					</div>
				<div class="r-content">
										<div class="r-data-block" data-body-width="standard" >
						
										{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="topbar" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	</div>		
{END above-grid_block}
							
						<div class="r-grid">
										{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="topbar" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN Foto_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Foto}  form-horizontal clearfix" data-fieldname="Foto" data-signal-error-for="Foto{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="Foto" data-fieldname="Foto" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_Foto}">
		
		{BEGIN Foto_label}{$label adm_pacientes Foto }{END Foto_label}
	</label>
	<div class="col-md-6" >
		{$Foto_value}	</div>

		
</div>


{END Foto_fieldblock}
											
{BEGIN Nome_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Nome}  form-horizontal clearfix" data-fieldname="Nome" data-signal-error-for="Nome{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="Nome" data-fieldname="Nome" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_Nome}">
		
		{BEGIN Nome_label}{$label adm_pacientes Nome }{END Nome_label}
	</label>
	<div class="col-md-6" >
		{$Nome_value}	</div>

		
</div>


{END Nome_fieldblock}
										</td>
			{END cellblock_grid_c3}
										</tr>
										</tbody></table>
				 
	<div class="panel panel-default form-section" data-itemtype="section" data-itemid="section4" {$item_section4} data-pageid="{$pageid}">
		<div class="panel-heading" role="tab" {$section_section1_headattrs} data-toggle="collapse"   

				href="#section1{$pageid}" aria-expanded="true" aria-controls="section1"

		>
		  <h4 class="panel-title">
			<a role="button" >
				Dados Cadastrais			</a>
		  </h4>
		</div>
		<div  class="panel-collapse collapse in {$section_section1_xtrclass}" role="tabpanel"  {$section_section1_attrs}

				id="section1{$pageid}" 
		>
		  <div class="panel-body">
			{BEGIN section4_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section4" id="form_section4_{$pageid}" data-makeup="topbar" {$form_section4} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_section4_c1}
<td
	{$cell_section4_c1}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="section4_c1" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN Email_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Email}  form-horizontal clearfix" data-fieldname="Email" data-signal-error-for="Email{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="Email" data-fieldname="Email" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_Email}">
		
		{BEGIN Email_label}{$label adm_pacientes Email }{END Email_label}
	</label>
	<div class="col-md-6" >
		{$Email_value}	</div>

		
</div>


{END Email_fieldblock}
											
{BEGIN Senha_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Senha}  form-horizontal clearfix" data-fieldname="Senha" data-signal-error-for="Senha{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="Senha" data-fieldname="Senha" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_Senha}">
		
		{BEGIN Senha_label}{$label adm_pacientes Senha }{END Senha_label}
	</label>
	<div class="col-md-6" >
		{$Senha_value}	</div>

		
</div>


{END Senha_fieldblock}
											
{BEGIN Sexo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Sexo}  form-horizontal clearfix" data-fieldname="Sexo" data-signal-error-for="Sexo{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="Sexo" data-fieldname="Sexo" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_Sexo}">
		
		{BEGIN Sexo_label}{$label adm_pacientes Sexo }{END Sexo_label}
	</label>
	<div class="col-md-6" >
		{$Sexo_value}	</div>

		
</div>


{END Sexo_fieldblock}
											
{BEGIN Estado_Civil_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Estado_Civil}  form-horizontal clearfix" data-fieldname="Estado_Civil" data-signal-error-for="Estado_Civil{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="Estado_Civil" data-fieldname="Estado_Civil" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_Estado_Civil}">
		
		{BEGIN Estado_Civil_label}{$label adm_pacientes Estado_Civil }{END Estado_Civil_label}
	</label>
	<div class="col-md-6" >
		{$Estado_Civil_value}	</div>

		
</div>


{END Estado_Civil_fieldblock}
											
{BEGIN Procedencia_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Procedencia}  form-horizontal clearfix" data-fieldname="Procedencia" data-signal-error-for="Procedencia{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field19" {$item_integrated_edit_field19} data-pageid="{$pageid}" data-field="Procedencia" data-fieldname="Procedencia" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_Procedencia}">
		
		{BEGIN Procedencia_label}{$label adm_pacientes Procedencia }{END Procedencia_label}
	</label>
	<div class="col-md-6" >
		{$Procedencia_value}	</div>

		
</div>


{END Procedencia_fieldblock}
											
{BEGIN Tratamento_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Tratamento}  form-horizontal clearfix" data-fieldname="Tratamento" data-signal-error-for="Tratamento{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="Tratamento" data-fieldname="Tratamento" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_Tratamento}">
		
		{BEGIN Tratamento_label}{$label adm_pacientes Tratamento }{END Tratamento_label}
	</label>
	<div class="col-md-6" >
		{$Tratamento_value}	</div>

		
</div>


{END Tratamento_fieldblock}
											
{BEGIN Data_Inicio_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Data_Inicio}  form-horizontal clearfix" data-fieldname="Data_Inicio" data-signal-error-for="Data_Inicio{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="Data_Inicio" data-fieldname="Data_Inicio" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_Data_Inicio}">
		
		{BEGIN Data_Inicio_label}{$label adm_pacientes Data_Inicio }{END Data_Inicio_label}
	</label>
	<div class="col-md-6" >
		{$Data_Inicio_value}	</div>

		
</div>


{END Data_Inicio_fieldblock}
											
{BEGIN Nascimento_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Nascimento}  form-horizontal clearfix" data-fieldname="Nascimento" data-signal-error-for="Nascimento{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field26" {$item_integrated_edit_field26} data-pageid="{$pageid}" data-field="Nascimento" data-fieldname="Nascimento" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_Nascimento}">
		
		{BEGIN Nascimento_label}{$label adm_pacientes Nascimento }{END Nascimento_label}
	</label>
	<div class="col-md-6" >
		{$Nascimento_value}	</div>

		
</div>


{END Nascimento_fieldblock}
											
{BEGIN Responsavel_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Responsavel}  form-horizontal clearfix" data-fieldname="Responsavel" data-signal-error-for="Responsavel{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field20" {$item_integrated_edit_field20} data-pageid="{$pageid}" data-field="Responsavel" data-fieldname="Responsavel" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_Responsavel}">
		
		{BEGIN Responsavel_label}{$label adm_pacientes Responsavel }{END Responsavel_label}
	</label>
	<div class="col-md-6" >
		{$Responsavel_value}	</div>

		
</div>


{END Responsavel_fieldblock}
											
{BEGIN Profissao_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Profissao}  form-horizontal clearfix" data-fieldname="Profissao" data-signal-error-for="Profissao{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field27" {$item_integrated_edit_field27} data-pageid="{$pageid}" data-field="Profissao" data-fieldname="Profissao" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_Profissao}">
		
		{BEGIN Profissao_label}{$label adm_pacientes Profissao }{END Profissao_label}
	</label>
	<div class="col-md-6" >
		{$Profissao_value}	</div>

		
</div>


{END Profissao_fieldblock}
											
{BEGIN Convenio_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Convenio}  form-horizontal clearfix" data-fieldname="Convenio" data-signal-error-for="Convenio{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field28" {$item_integrated_edit_field28} data-pageid="{$pageid}" data-field="Convenio" data-fieldname="Convenio" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_Convenio}">
		
		{BEGIN Convenio_label}{$label adm_pacientes Convenio }{END Convenio_label}
	</label>
	<div class="col-md-6" >
		{$Convenio_value}	</div>

		
</div>


{END Convenio_fieldblock}
	
								</td>
			{END cellblock_section4_c1}
								</tr>
			</tbody></table>
{END section4_block}
		  </div>
		</div>
	</div>
											 
	<div class="panel panel-default form-section" data-itemtype="section" data-itemid="section" {$item_section} data-pageid="{$pageid}">
		<div class="panel-heading" role="tab" {$section_section2_headattrs} data-toggle="collapse"   

				href="#section2{$pageid}" aria-expanded="true" aria-controls="section2"

		>
		  <h4 class="panel-title">
			<a role="button" >
				Endereço			</a>
		  </h4>
		</div>
		<div  class="panel-collapse collapse in {$section_section2_xtrclass}" role="tabpanel"  {$section_section2_attrs}

				id="section2{$pageid}" 
		>
		  <div class="panel-body">
			{BEGIN section_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section" id="form_section_{$pageid}" data-makeup="topbar" {$form_section} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_section_c1}
<td
	{$cell_section_c1}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="section_c1" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN Endereco_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Endereco}  form-horizontal clearfix" data-fieldname="Endereco" data-signal-error-for="Endereco{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="Endereco" data-fieldname="Endereco" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_Endereco}">
		
		{BEGIN Endereco_label}{$label adm_pacientes Endereco }{END Endereco_label}
	</label>
	<div class="col-md-6" >
		{$Endereco_value}	</div>

		
</div>


{END Endereco_fieldblock}
											
{BEGIN Bairro_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Bairro}  form-horizontal clearfix" data-fieldname="Bairro" data-signal-error-for="Bairro{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="Bairro" data-fieldname="Bairro" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_Bairro}">
		
		{BEGIN Bairro_label}{$label adm_pacientes Bairro }{END Bairro_label}
	</label>
	<div class="col-md-6" >
		{$Bairro_value}	</div>

		
</div>


{END Bairro_fieldblock}
											
{BEGIN Cidade_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Cidade}  form-horizontal clearfix" data-fieldname="Cidade" data-signal-error-for="Cidade{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="Cidade" data-fieldname="Cidade" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_Cidade}">
		
		{BEGIN Cidade_label}{$label adm_pacientes Cidade }{END Cidade_label}
	</label>
	<div class="col-md-6" >
		{$Cidade_value}	</div>

		
</div>


{END Cidade_fieldblock}
											
{BEGIN Estado_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Estado}  form-horizontal clearfix" data-fieldname="Estado" data-signal-error-for="Estado{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="Estado" data-fieldname="Estado" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_Estado}">
		
		{BEGIN Estado_label}{$label adm_pacientes Estado }{END Estado_label}
	</label>
	<div class="col-md-6" >
		{$Estado_value}	</div>

		
</div>


{END Estado_fieldblock}
											
{BEGIN Cep_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Cep}  form-horizontal clearfix" data-fieldname="Cep" data-signal-error-for="Cep{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="Cep" data-fieldname="Cep" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_Cep}">
		
		{BEGIN Cep_label}{$label adm_pacientes Cep }{END Cep_label}
	</label>
	<div class="col-md-6" >
		{$Cep_value}	</div>

		
</div>


{END Cep_fieldblock}
	
								</td>
			{END cellblock_section_c1}
								</tr>
			</tbody></table>
{END section_block}
		  </div>
		</div>
	</div>
											 
	<div class="panel panel-default form-section" data-itemtype="section" data-itemid="section2" {$item_section2} data-pageid="{$pageid}">
		<div class="panel-heading" role="tab" {$section_section3_headattrs} data-toggle="collapse"   

				href="#section3{$pageid}" aria-expanded="true" aria-controls="section3"

		>
		  <h4 class="panel-title">
			<a role="button" >
				Telefones			</a>
		  </h4>
		</div>
		<div  class="panel-collapse collapse in {$section_section3_xtrclass}" role="tabpanel"  {$section_section3_attrs}

				id="section3{$pageid}" 
		>
		  <div class="panel-body">
			{BEGIN section2_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section2" id="form_section2_{$pageid}" data-makeup="topbar" {$form_section2} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_section2_c1}
<td
	{$cell_section2_c1}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="section2_c1" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN Tel_Residencial_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Tel_Residencial}  form-horizontal clearfix" data-fieldname="Tel_Residencial" data-signal-error-for="Tel_Residencial{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="Tel_Residencial" data-fieldname="Tel_Residencial" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_Tel_Residencial}">
		
		{BEGIN Tel_Residencial_label}{$label adm_pacientes Tel_Residencial }{END Tel_Residencial_label}
	</label>
	<div class="col-md-6" >
		{$Tel_Residencial_value}	</div>

		
</div>


{END Tel_Residencial_fieldblock}
											
{BEGIN Celular_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Celular}  form-horizontal clearfix" data-fieldname="Celular" data-signal-error-for="Celular{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="Celular" data-fieldname="Celular" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_Celular}">
		
		{BEGIN Celular_label}{$label adm_pacientes Celular }{END Celular_label}
	</label>
	<div class="col-md-6" >
		{$Celular_value}	</div>

		
</div>


{END Celular_fieldblock}
											
{BEGIN Whats_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Whats}  form-horizontal clearfix" data-fieldname="Whats" data-signal-error-for="Whats{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field18" {$item_integrated_edit_field18} data-pageid="{$pageid}" data-field="Whats" data-fieldname="Whats" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_Whats}">
		
		{BEGIN Whats_label}{$label adm_pacientes Whats }{END Whats_label}
	</label>
	<div class="col-md-6" >
		{$Whats_value}	</div>

		
</div>


{END Whats_fieldblock}
	
								</td>
			{END cellblock_section2_c1}
								</tr>
			</tbody></table>
{END section2_block}
		  </div>
		</div>
	</div>
											 
	<div class="panel panel-default form-section" data-itemtype="section" data-itemid="section1" {$item_section1} data-pageid="{$pageid}">
		<div class="panel-heading" role="tab" {$section_section4_headattrs} data-toggle="collapse"   

				href="#section4{$pageid}" aria-expanded="true" aria-controls="section4"

		>
		  <h4 class="panel-title">
			<a role="button" >
				Documentos			</a>
		  </h4>
		</div>
		<div  class="panel-collapse collapse in {$section_section4_xtrclass}" role="tabpanel"  {$section_section4_attrs}

				id="section4{$pageid}" 
		>
		  <div class="panel-body">
			{BEGIN section1_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section1" id="form_section1_{$pageid}" data-makeup="topbar" {$form_section1} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_section1_c1}
<td
	{$cell_section1_c1}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="section1_c1" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN RG_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_RG}  form-horizontal clearfix" data-fieldname="RG" data-signal-error-for="RG{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="RG" data-fieldname="RG" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_RG}">
		
		{BEGIN RG_label}{$label adm_pacientes RG }{END RG_label}
	</label>
	<div class="col-md-6" >
		{$RG_value}	</div>

		
</div>


{END RG_fieldblock}
											
{BEGIN CPF_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_CPF}  form-horizontal clearfix" data-fieldname="CPF" data-signal-error-for="CPF{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="CPF" data-fieldname="CPF" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_CPF}">
		
		{BEGIN CPF_label}{$label adm_pacientes CPF }{END CPF_label}
	</label>
	<div class="col-md-6" >
		{$CPF_value}	</div>

		
</div>


{END CPF_fieldblock}
	
								</td>
			{END cellblock_section1_c1}
								</tr>
			</tbody></table>
{END section1_block}
		  </div>
		</div>
	</div>
											 
	<div class="panel panel-default form-section" data-itemtype="section" data-itemid="section3" {$item_section3} data-pageid="{$pageid}">
		<div class="panel-heading" role="tab" {$section_section5_headattrs} data-toggle="collapse"   

				href="#section5{$pageid}" aria-expanded="true" aria-controls="section5"

		>
		  <h4 class="panel-title">
			<a role="button" >
				Saúde			</a>
		  </h4>
		</div>
		<div  class="panel-collapse collapse in {$section_section5_xtrclass}" role="tabpanel"  {$section_section5_attrs}

				id="section5{$pageid}" 
		>
		  <div class="panel-body">
			{BEGIN section3_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section3" id="form_section3_{$pageid}" data-makeup="topbar" {$form_section3} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_section3_c1}
<td
	{$cell_section3_c1}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="section3_c1" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN Peso_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Peso}  form-horizontal clearfix" data-fieldname="Peso" data-signal-error-for="Peso{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field21" {$item_integrated_edit_field21} data-pageid="{$pageid}" data-field="Peso" data-fieldname="Peso" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_Peso}">
		
		{BEGIN Peso_label}{$label adm_pacientes Peso }{END Peso_label}
	</label>
	<div class="col-md-6" >
		{$Peso_value}	</div>

		
</div>


{END Peso_fieldblock}
											
{BEGIN Altura_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Altura}  form-horizontal clearfix" data-fieldname="Altura" data-signal-error-for="Altura{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field22" {$item_integrated_edit_field22} data-pageid="{$pageid}" data-field="Altura" data-fieldname="Altura" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_Altura}">
		
		{BEGIN Altura_label}{$label adm_pacientes Altura }{END Altura_label}
	</label>
	<div class="col-md-6" >
		{$Altura_value}	</div>

		
</div>


{END Altura_fieldblock}
											
{BEGIN Tipo_Sangue_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Tipo_Sangue}  form-horizontal clearfix" data-fieldname="Tipo_Sangue" data-signal-error-for="Tipo_Sangue{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field24" {$item_integrated_edit_field24} data-pageid="{$pageid}" data-field="Tipo_Sangue" data-fieldname="Tipo_Sangue" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_Tipo_Sangue}">
		
		{BEGIN Tipo_Sangue_label}{$label adm_pacientes Tipo_Sangue }{END Tipo_Sangue_label}
	</label>
	<div class="col-md-6" >
		{$Tipo_Sangue_value}	</div>

		
</div>


{END Tipo_Sangue_fieldblock}
											
{BEGIN Pressao_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Pressao}  form-horizontal clearfix" data-fieldname="Pressao" data-signal-error-for="Pressao{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field25" {$item_integrated_edit_field25} data-pageid="{$pageid}" data-field="Pressao" data-fieldname="Pressao" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_Pressao}">
		
		{BEGIN Pressao_label}{$label adm_pacientes Pressao }{END Pressao_label}
	</label>
	<div class="col-md-6" >
		{$Pressao_value}	</div>

		
</div>


{END Pressao_fieldblock}
											
{BEGIN IMC_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_IMC}  form-horizontal clearfix" data-fieldname="IMC" data-signal-error-for="IMC{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field23" {$item_integrated_edit_field23} data-pageid="{$pageid}" data-field="IMC" data-fieldname="IMC" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_IMC}">
		
		{BEGIN IMC_label}{$label adm_pacientes IMC }{END IMC_label}
	</label>
	<div class="col-md-6" >
		{$IMC_value}	</div>

		
</div>


{END IMC_fieldblock}
											
{BEGIN Sintomas_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Sintomas}  form-horizontal clearfix" data-fieldname="Sintomas" data-signal-error-for="Sintomas{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="Sintomas" data-fieldname="Sintomas" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_Sintomas}">
		
		{BEGIN Sintomas_label}{$label adm_pacientes Sintomas }{END Sintomas_label}
	</label>
	<div class="col-md-6" >
		{$Sintomas_value}	</div>

		
</div>


{END Sintomas_fieldblock}
											
{BEGIN Observacoes_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Observacoes}  form-horizontal clearfix" data-fieldname="Observacoes" data-signal-error-for="Observacoes{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field29" {$item_integrated_edit_field29} data-pageid="{$pageid}" data-field="Observacoes" data-fieldname="Observacoes" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_Observacoes}">
		
		{BEGIN Observacoes_label}{$label adm_pacientes Observacoes }{END Observacoes_label}
	</label>
	<div class="col-md-6" >
		{$Observacoes_value}	</div>

		
</div>


{END Observacoes_fieldblock}
	
								</td>
			{END cellblock_section3_c1}
								</tr>
			</tbody></table>
{END section3_block}
		  </div>
		</div>
	</div>
											
{BEGIN details_adm_agenda_1}
<div data-itemtype="details_preview" data-itemid="details_preview2" {$item_details_preview2} data-pageid="{$pageid}" class="bs-details"> 
	<div class="panel panel-info details-grid">
		<div class="panel-heading">
			<h4 class="panel-title">
							{$caption adm_agenda_1 }				
							<span>
					{$detailslButtons_adm_agenda_1}
																																																					</span>
			</h4>
		</div>
		<div class="panel-body">
			{$displayDetailTable_adm_agenda_1}
		</div>
	</div>
</div>
{END details_adm_agenda_1}
											
{BEGIN details_adm_pacientes_documentos}
<div data-itemtype="details_preview" data-itemid="details_preview" {$item_details_preview} data-pageid="{$pageid}" class="bs-details"> 
	<div class="panel panel-info details-grid">
		<div class="panel-heading">
			<h4 class="panel-title">
							{$caption adm_pacientes_documentos }				
							<span>
					{$detailslButtons_adm_pacientes_documentos}
																																																					</span>
			</h4>
		</div>
		<div class="panel-body">
			{$displayDetailTable_adm_pacientes_documentos}
		</div>
	</div>
</div>
{END details_adm_pacientes_documentos}
											
{BEGIN details_adm_pagamento_avulso}
<div data-itemtype="details_preview" data-itemid="details_preview1" {$item_details_preview1} data-pageid="{$pageid}" class="bs-details"> 
	<div class="panel panel-info details-grid">
		<div class="panel-heading">
			<h4 class="panel-title">
							{$caption adm_pagamento_avulso }				
							<span>
					{$detailslButtons_adm_pagamento_avulso}
																																																					</span>
			</h4>
		</div>
		<div class="panel-body">
			{$displayDetailTable_adm_pagamento_avulso}
		</div>
	</div>
</div>
{END details_adm_pagamento_avulso}
											
{BEGIN details_adm_campos_paciente}
<div data-itemtype="details_preview" data-itemid="details_preview3" {$item_details_preview3} data-pageid="{$pageid}" class="bs-details"> 
	<div class="panel panel-info details-grid">
		<div class="panel-heading">
			<h4 class="panel-title">
							{$caption adm_campos_paciente }				
							<span>
					{$detailslButtons_adm_campos_paciente}
																																																					</span>
			</h4>
		</div>
		<div class="panel-body">
			{$displayDetailTable_adm_campos_paciente}
		</div>
	</div>
</div>
{END details_adm_campos_paciente}
	
				{END grid_block}
							</div>
						
										{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="topbar" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Voltar à Lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Fechar Janela			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="adm_pacientes1_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		Editar		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
							
					</div>
				</div>
			</div>
		</div>
		{$footer}
	{END body}
	</body>
</html>
